@import 'variables';
@import 'functions';
@import 'mixin';

.nav {

    @include max1024 {
        display: none;     
     }

    &__list {
        display: flex;
        list-style-type: none;
    }

    &__item {
        position: relative;
        margin: map-get($nav, 'margin');
        color: getColor('link');
        font-size: map-get($nav, 'fontSize');
        font-weight: map-get($nav, 'fontWeight');
        line-height: map-get($nav, 'lineHeight');
        letter-spacing: map-get($nav, 'letterSpacing');
        text-transform: uppercase;

        @include max1420 {
            font-size: map-get($nav, 'fontSize') * 0.9;
        }
    
        @include max1366 {
            font-size: map-get($nav, 'fontSize') *  0.8;
        }
    
        @include max1200 {
            font-size: map-get($nav, 'fontSize')  * 0.7;
        }
    
        @include max1024 {
            font-size: map-get($nav, 'fontSize') * 0.6;
        }
    
        @include max900 {
            font-size: map-get($nav, 'fontSize')  * 0.5;
        }    

        &:hover {
            cursor: pointer;
            transition: all 0.3s ease-in;

            &:after {
                opacity: 1;
                transform: translate(0);
                transition: all 0.3s ease-in;
            }
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 5px;
            opacity: 0;
            transform: translateX(-50%);
            background: repeating-linear-gradient(-45deg, getColor('base') 1px, #fff 2px);
        }
    }

    &--mobile,
    &__button {
        display: none !important;

        @include max1024 {
           display: flex;     
        }
    }
}
