<nav class="nav">
    <ul class="nav__list">
        <li class="nav__item" *ngFor="let item of menuList">
            <a *ngIf="item.href" href="{{item.href}}" data-translate>{{item.name}}</a>
            <a *ngIf="item.scrollTo" (click)="scrollToElement(item.scrollTo)" data-translate>{{item.name}}</a>
        </li>
    </ul>
</nav>

<mat-menu class="nav nav--mobile" #appMenu="matMenu">
    <li class="nav__item" *ngFor="let item of menuList" mat-menu-item>
        <a *ngIf="item.href" href="{{item.href}}">{{item.name}}</a>
        <a *ngIf="item.scrollTo" (click)="scrollToElement(item.scrollTo)">{{item.name}}</a>
    </li>
</mat-menu>
  
  <button class="nav__button" mat-icon-button [matMenuTriggerFor]="appMenu">
    Show
  </button>
