<section class="benefits" id="benefits">
  <div class="benefits__container">

    <div class="benefits__item">
      <div class="benefits__img">
        <img src="/assets/images/benefits/best-conditions.svg" alt="Best conditions">
      </div>
      <p class="benefits__desc">{{'Professional support round the clock' | translate }}</p>
    </div>

    <div class="benefits__item">
      <div class="benefits__img">
        <img src="/assets/images/benefits/lifetime-revenue.svg" alt="">
      </div>
      <p class="benefits__desc">{{ 'Lifetime revenue' | translate }}</p>
    </div>

    <div class="benefits__item">
      <div class="benefits__img">
        <img src="/assets/images/benefits/fast-payment.svg" alt="">
      </div>
      <p class="benefits__desc">{{'No hidden costs' | translate }}</p>
    </div>

    <div class="benefits__item">
      <div class="benefits__img">
        <img src="/assets/images/benefits/stat-icon.svg" alt="">
      </div>
      <p class="benefits__desc">{{'The best stats breakdown in the business (completely transparent)' | translate }}</p>
    </div>

    <div class="benefits__item">
      <div class="benefits__img">
        <img src="/assets/images/benefits/high-player-value.svg" alt="">
      </div>
      <p class="benefits__desc">{{ 'No Negative Carryover' | translate }}</p>
    </div>

    <div class="benefits__item">
      <div class="benefits__img">
        <img src="/assets/images/benefits/commission.svg" alt="">
      </div>
      <p class="benefits__desc">{{ 'Industry leading commission' | translate}}</p>
    </div>

  </div>
</section>
