@import 'mixin.scss';
@import 'variables';
@import 'functions';

.benefits {
    background-color: map-get($benefits, 'background');

    &__container {
        @include container;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 50px 0;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-basis: calc((100% / 6) - 50px);
    }

    &__img {
        height: auto;
        width: 100%;

        img {
            display: block;
            height: auto;
            width: 100%;
        }
    }

    &__desc {
        margin-top: 10px;
        text-align: center;
        color: getColor('text');
        font-weight: bold;
    }
}
