@mixin container {
    max-width: 1366px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;

    @include max640 {
        padding: 0 15px;
    }
};

@mixin transition {
    transition: all 0.3s ease-in;
}

@mixin max360 {
    @media screen and (max-width: 360px) {
        @content;
    }
}

@mixin max480 {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin max560 {
    @media screen and (max-width: 560px) {
        @content;
    }
}

@mixin max640 {
    @media screen and (max-width: 640px) {
        @content;
    }
}

@mixin max720 {
    @media screen and (max-width: 720px) {
        @content;
    }
}

@mixin max768 {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin max900 {
    @media screen and (max-width: 900px) {
        @content;
    }
}

@mixin max1024 {
    @media screen and (max-width: 1024px) {
        @content;
    }
}

@mixin max1200 {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

@mixin max1366 {
    @media screen and (max-width: 1366px) {
        @content;
    }
}

@mixin max1420 {
    @media screen and (max-width: 1420px) {
        @content;
    }
}

@mixin max1920 {
    @media screen and (max-width: 1920px) {
        @content;
    }
}
