@import 'functions';

//PROJECT VARIABLES

$baseColors: (
    'text': #000,
    'link': #000,
    'base': #ffc107
);

$header: (
    'background': #fff,
    'padding': 10px
);

$nav: (
    'margin': 0 15px,
    'fontSize': 18px,
    'fontWeight': 100,
    'lineHeight': 60px,
    'letterSpacing': 1px
);

$banner: (
    'textWidth': 60%,
    'bgImg': url('/assets/images/slider/affiliate-slider-bg.jpg'),
    'color': #fff,
    'colorDesc': #fff,
    'fontSize': 60px,
    'fontWeight': 600,
    'lineHeight': 75px,
    'fontSizeDesc': 20px,
    'sizeSiteName': 65px,
    'colorSiteName': #ffc107,
);

$benefits: (
    'background': #fff
);

$commission: (
    'background': #e5e5e5,
    'backgroundBox': #ffc107,
    'colorBox': #000
);

//MATERIAL VARIABLES

@import '~@angular/material/theming';

$mat-primary-colors: (
    500: getColor('base'),
    contrast: (
        500: getColor('link')
    )
);

@include mat-core();

$my-app-primary: mat-palette($mat-primary-colors);
$my-app-accent: mat-palette($mat-pink, 500, 900, A100);
$my-app-warn: mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);
