@import 'src/assets/scss/_mixin.scss';
@import 'src/assets/scss/_reset.scss';
@import 'src/assets/scss/_variables.scss';
@import 'src/assets/scss/_functions.scss';


body {
    font-family: 'Roboto', sans-serif;
    background-color: #000;
}

//todo in variables
.payment-item {

    svg {
        fill: #fff;
    }
}


.visible {
    opacity: 0;

    &_right {
        animation: swipe-right 0.9s;
    }

    &_left {
        animation: swipe-left 0.9s;
    }
}

a:-webkit-any-link {
    color: #000;
    text-decoration: none;
}

@keyframes visible {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes swipe-right {
    0% {
        opacity: 0;
        transform: translate(-30%);
    }

    100% {
        opacity: 100%;
        transform: translate(0);
    }
}

@keyframes swipe-left{
    0% {
        opacity: 0;
        transform: translate(30%);
    }

    100% {
        opacity: 100%;
        transform: translate(0);
    }
}
