@import 'mixin.scss';
@import 'variables';
@import 'functions';

.commission {
    padding: 40px 0;
    background-color: #e5e5e5;
    box-shadow: inset -3px 0px 8px 0px rgba(50, 50, 50, 0.5);

    &__container {
        @include container;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    &__title {
        font-size: 40px;
        font-weight: bold;
        text-align: center;
    }

    &__desc {
        margin-top: 15px;
        color: getColor('text');
        font-size: 20px;
        font-weight: 500;
        text-align: justify;
    }

    &__values {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-basis: calc(25% - 40px);
        height: 12vw;
        padding: 15px;
        color: map-get($commission, 'colorBox');
        border-radius: 10px;
        background-color: lighten(map-get($commission, 'backgroundBox'), 15);
        box-shadow: 0 8px 6px -6px black;
    }

    &__percent {
        width: 100%;
        text-align: center;
        font-size: 40px;
        line-height: 60px;
        font-weight: bold;
        border-bottom: 1px solid #000;
    }

    &__sum {
        font-size: 22px;
        line-height: 60px;
    }

    &__btn {
        max-width: 200px;
        margin: 40px auto 0 !important;
    }

    .contact-info {
        margin-top: 30px;
    }
}
