<section class="commission" id='commission'>
    <div class="commission__container">

        <h2 class="commission__title">{{'COMMISSION' | translate }}</h2>
        <p class="commission__desc">{{ 'By teaming up with us' | translate }},
            24kCasino {{'gives you value for every hard earned buck.
                You can earn up to 40 % revenue share or we can give you a CPA deal - whatever is convenient for you. | translate' }}</p>

        <div class="commission__values">

            <div class="commission__item">
                <span class="commission__percent">25%</span>
                <span class="commission__sum">$0-5 000</span>
            </div>

            <div class="commission__item">
                <span class="commission__percent">30%</span>
                <span class="commission__sum">$5 001-10 000</span>
            </div>

            <div class="commission__item">
                <span class="commission__percent">35%</span>
                <span class="commission__sum">$10 001-25 000</span>
            </div>

            <div class="commission__item">
                <span class="commission__percent">40%</span>
                <span class="commission__sum">$25 001-{{'or more' | translate }}</span>
            </div>
        </div>

        <button mat-raised-button color="primary"
                class="btn commission__btn">{{'Become a partner' | translate }}</button>

        <app-contact-info></app-contact-info>
    </div>

</section>
