<div class="contact-info">
    <p class="contact-info__item"> {{ 'Mail' | translate }}: <a href="{{mail}}">{{mail}}</a></p>
    <p class="contact-info__item"> Skype: <a href="{{skype}}">{{skype}}</a></p>
</div>