@import 'mixin.scss';
@import 'variables';
@import 'functions';

.faq {
    padding: 40px 0;
    background-color: #e5e5e5;
    box-shadow: inset -3px 0px 8px 0px rgba(50, 50, 50, 0.5);

    &__content {
        @include container;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__title {
        margin-bottom: 30px;
        color: #212121;
        font-size: 40px;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
    }

    &__post {

        &-title {
            text-align: center;
        }
    }
}
