<section class="faq" id='faq'>
    <div class="faq__content">

        <h2 class="faq__title">FAQ</h2>

        <mat-expansion-panel class="faq__post" *ngIf="post">
            <mat-expansion-panel-header class="faq__post-title">
                <mat-panel-title [innerHTML]="post[0].title.rendered">

                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="faq__post-content" [innerHTML]="post[0].content.rendered"></div>

        </mat-expansion-panel>

    </div>
</section>
