@import 'src/assets/scss/mixin.scss';

.footer {
    color: #fff;
    background-color: #121315;

    &-content {
        @include container;
        align-items: center;
    }

    .nav {
        width: 100%;

        &__list {
            display: flex;
            justify-content: center;
        }

        &__item {
            color: #fff;

            a:-webkit-any-link {
                color: #fff;
            }
        }
    }
}
