<svg data-name="Layer 4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30.13 22.76" width="30px" height="23px">
    <g>
        <polyline class="cls-1" points="7.55 0.5 12.45 5.44 4.67 13.14 0.5 9.11"/>
        <polyline class="cls-1" points="23.28 0.5 18.45 5.44 26.23 13.14 29.63 9.75"/>
        <polyline class="cls-1" points="11.71 6.17 12.91 7.42 18.45 7.42 19.45 6.43"/>
        <path class="cls-1" d="M15.32,11l-4.15,4.24a2.18,2.18,0,0,0,3.29.33C16.22,14,16,14,18.51,14.14c1,.95,2.69,2.65,3.67,3.58,1.72,1.63,0,3.48-1.52,2.15a9.39,9.39,0,0,1-1.27-1.25" transform="translate(0.06 -3.62)"/>
        <path class="cls-1" d="M17.72,20.68s.84.73,1.27,1.21c1.09,1.19,3.11-.67,1.67-2" transform="translate(0.06 -3.62)"/>
        <path class="cls-1" d="M15.89,22.48s.58.57,1.07,1.08c1.32,1.38,3.14-.61,2-1.67" transform="translate(0.06 -3.62)"/>
        <circle class="cls-1" cx="8.85" cy="15.33" r="1.31"/>
        <circle class="cls-1" cx="10.73" cy="17.1" r="1.31"/>
        <circle class="cls-1" cx="12.55" cy="18.92" r="1.31"/>
        <circle class="cls-1" cx="14.36" cy="20.81" r="1.31"/>
        <path class="cls-1" d="M15.3,25.51c1.28,1.23,3-.9,1.66-2" transform="translate(0.06 -3.62)"/>
        <line class="cls-1" x1="5.88" y1="11.95" x2="8.13" y2="14.22"/>
        <line class="cls-1" x1="25.27" y1="12.19" x2="22.75" y2="14.75"/>
    </g>
</svg>
