<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.86 11.56" width="14px" height="12px">
    <g>
        <path class="cls-1" d="M3.46,13H12.8A1.22,1.22,0,0,0,14,11.78V3.66A1.21,1.21,0,0,0,12.8,2.44H4.68A1.21,1.21,0,0,0,3.46,3.66V8.87" transform="translate(-0.66 -1.94)"/>
        <polyline class="cls-1" points="5.1 4.63 2.8 6.93 0.5 4.63"/>
    </g>
</svg>
