<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30">
    <g>
        <path d=" M 2.887 3 L 27.119 3 L 27.119 5.261 L 2.887 5.261 L 2.887 3 Z "/>
        <path d=" M 0.736 10.362 L 29.258 10.362 L 27.113 5.261 L 12.451 5.261 L 2.881 5.261 L 0.736 10.362 Z "/>
        <path d=" M 0.742 10.362 Q 1.105 13.338 3.698 13.377 Q 6.256 13.415 6.655 10.362 Q 6.845 13.381 9.264 13.377 Q 11.903 13.372 12.278 10.362 Q 12.512 13.372 15.119 13.377 Q 17.34 13.381 17.785 10.362 Q 18.292 13.473 20.858 13.493 Q 23.08 13.51 23.409 10.362 Q 23.958 13.501 26.539 13.377 Q 29.12 13.253 29.264 10.362 L 0.742 10.362 Z "/>
        <line x1="7.293" y1="5.261" x2="6.655" y2="10.362"/>
        <line x1="12.456" y1="5.261" x2="12.278" y2="10.362"/>
        <line x1="17.495" y1="5.261" x2="17.785" y2="10.362"/>
        <line x1="22.539" y1="5.261" x2="23.409" y2="10.362"/>
        <path d=" M 5.032 15.928 L 16.264 15.928 L 16.264 23.29 L 5.032 23.29 L 5.032 15.928 Z "/>
        <path d=" M 2.539 13.173 L 2.539 27 L 27.466 27 L 27.466 13.173"/>
        <path d=" M 18.713 27 L 18.713 15.928 L 24.858 15.928 L 24.858 27"/>
        <line x1="18.713" y1="21.435" x2="19.814" y2="21.435"/>
        <line x1="10.597" y1="21.435" x2="14.481" y2="17.551"/>
        <line x1="13.032" y1="21.435" x2="14.481" y2="20.043"/>
    </g>
</svg>
