<svg class="wlc-svg-icon wlc-svg-icon_search" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.91 26.91" width="27px" height="27px">
    <g>
        <circle cx="11.07" cy="11.07" r="9.57"/>
        <line x1="25.41" y1="25.41" x2="18.24" y2="18.24"/>
    </g>
</svg>
