<svg data-name="Slots\" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.92 29.99" width="30px" height="30px">
    <g>
        <rect x="1" y="9.19" width="23.22" height="13.66"/>
        <rect x="4.07" y="22.85" width="17.07" height="6.15"/>
        <path d="M12.65,23.53" transform="translate(-0.04 0)"/>
        <path d="M12.65,28.31" transform="translate(-0.04 0)"/>
        <line x1="1" y1="19.83" x2="27.56" y2="19.83"/>
        <line x1="27.56" y1="19.83" x2="27.56" y2="10.56"/>
        <g>
            <line x1="8.66" y1="19.83" x2="8.66" y2="9.19"/>
            <line x1="16.55" y1="19.83" x2="16.55" y2="9.19"/>
        </g>
        <circle cx="27.56" cy="9.19" r="1.37"/>
        <path d="M24.25,9.2h0C24.25,2.79,19.06,1,12.65,1S1,2.79,1,9.2H24.25Z" transform="translate(-0.04 0)"/>
        <polyline points="3.23 12.76 6.16 12.76 3.88 17.24"/>
        <polyline points="11.14 12.76 14.07 12.76 11.79 17.24"/>
        <polyline points="18.98 12.76 21.91 12.76 19.63 17.24"/>
    </g>
</svg>
