<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.18 29.18" width="30px" height="30px">
    <g>
        <circle cx="23.24" cy="5.94" r="1.85"/>
        <path d="M28.59,3A1.54,1.54,0,0,0,27,1.41H17.86c-.82,0-1.61,0-2.06.41l-14,14a1.17,1.17,0,0,0,0,1.65L12.48,28.25a1.17,1.17,0,0,0,1.65,0l14-14c.46-.46.41-1.22.41-2.06C28.59,12.14,28.59,3,28.59,3Z" transform="translate(-0.41 -0.41)"/>
        <g>
            <path d="M21.66,14.31a5.58,5.58,0,1,0-7.22,7.22" transform="translate(-0.41 -0.41)"/>
            <line x1="11.12" y1="10.04" x2="15.78" y2="14.7"/>
            <line x1="9.33" y1="11.84" x2="13.99" y2="16.5"/>
        </g>
    </g>
</svg>
