<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.55 29.33" width="29px" height="30px">
    <path class="cls-1" d="M19.47,10.74C20.79,5.62,20.06,1.13,14,1c-1.52,0-2.68.4-3.15,1.21-4.47.62-3.11,6.59-2.46,8.51a1.39,1.39,0,0,0-.53,1.42c.19,1.51.8,1.93,1.19,1.93a5.67,5.67,0,0,0,1.55,3.36,27.82,27.82,0,0,1-.06,2.89c-1.2,3.23-9.28,2.33-9.66,8.57" transform="translate(-0.36 -0.52)"/>
    <line class="cls-1" x1="16.08" y1="21.2" x2="24.76" y2="21.2"/>
    <line class="cls-1" x1="20.42" y1="16.86" x2="20.42" y2="25.54"/>
    <circle class="cls-1" cx="20.42" cy="21.2" r="7.63"/>
</svg>
