<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.64 29.98" width="30px" height="30px">
    <g>
        <rect x="2.2" y="13.35" width="25.24" height="15.62"/>
        <rect x="1" y="8.55" width="27.64" height="4.81"/>
        <line x1="13.02" y1="28.38" x2="13.02" y2="13.35"/>
        <line x1="16.62" y1="28.38" x2="16.62" y2="13.35"/>
        <line x1="13.02" y1="12.75" x2="13.02" y2="8.55"/>
        <line x1="16.62" y1="12.75" x2="16.62" y2="8.55"/>
        <path d="M12.2,8.56C11,8.56,8.14,5.38,8.14,3.4S9.59,1,10.8,1c1,0,4.51.45,4.51,7.21" transform="translate(-0.18 -0.01)"/>
        <path d="M18.26,8.56c1.2,0,4.21-3.17,4.21-5.16S21,1,19.81,1c-1,0-4.51.45-4.51,7.21" transform="translate(-0.18 -0.01)"/>
    </g>
</svg>
