<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.64 29.68" width="22px" height="30px">
    <g>
        <path d="M16.22,10.77v-.71a1.78,1.78,0,0,0-1.79-1.74A1.77,1.77,0,0,0,12.64,10v2.69" transform="translate(-2.75 -0.16)"/>
        <path d="M19.81,12.42V10.79a1.8,1.8,0,0,0-3.59,0v3" transform="translate(-2.75 -0.16)"/>
        <path d="M19.81,15.15V12.42a1.76,1.76,0,0,1,1.79-1.71,1.78,1.78,0,0,1,1.79,1.73V22c0,4.65-4.49,6.81-4.49,6.81H12.15c-3.51,0-6.1-9.06-8-11.67a2,2,0,0,1,0-2.57,1.56,1.56,0,0,1,2.3-.08l2.52,2.76V2.89a1.78,1.78,0,0,1,1.79-1.73,1.76,1.76,0,0,1,1.79,1.71v7.46" transform="translate(-2.75 -0.16)"/>
    </g>
</svg>
