<svg class="wlc-svg-icon wlc-svg-outline" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 20"
     width="26px" height="20px">
    <g>
        <line x1="1" y1="9.94" x2="25" y2="9.94"/>
        <line x1="1" y1="1" x2="25" y2="1"/>
        <line x1="1" y1="19" x2="25" y2="19"/>
    </g>
</svg>
