<span class="wlc-inline-bitcoin">
    <em class="wlc-inline-bitcoin__placeholder">
        B
    <svg data-name="Bitcoin"
         xmlns="http://www.w3.org/2000/svg"
         class="wlc-inline-bitcoin__svg"
         viewBox="0 0 251.75 348.17">
        <path d="M217,167c18.63-9.48,30.29-26.18,27.57-54-3.67-38-36.53-50.78-78-54.41V5.89H134.43V57.24c-8.45,0-17.07.17-25.65.34V5.9H76.65V58.62c-7,.14-13.79.28-20.46.28v-.16H11.85V93s23.74-.45,23.35,0c13,0,17.26,7.56,18.48,14.08V251.55c-.57,4.09-3,10.63-12.08,10.64.41.36-23.38,0-23.38,0l-6.38,38.34H53.67c7.79,0,15.45.13,23,.19l0,53.34h32.1V301.28c8.83.18,17.36.25,25.68.24v52.54h32.13l0-53.25c54-3.1,91.84-16.7,96.55-67.39C266.92,192.61,247.69,174.4,217,167ZM109.54,95.32c18.12,0,75.13-5.77,75.14,32.06,0,36.27-57,32-75.14,32Zm0,167.13,0-70.68c21.77,0,90.08-6.26,90.09,35.33C199.64,267,131.31,262.43,109.52,262.45Z"
              transform="translate(-11.85 -5.89)"/>
    </svg>
    </em>
</span>
