<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.86 29.86" width="30px" height="30px">
    <g>
        <polygon points="14.93 28.86 1 22.53 1 7.33 14.93 13.66 14.93 28.86"/>
        <polygon points="28.86 22.53 14.93 28.86 14.93 13.66 28.86 7.33 28.86 22.53"/>
        <polygon points="15.27 1 1 7.33 14.93 13.66 28.86 7.33 15.27 1"/>
        <circle cx="10.22" cy="7.28" r="0.55"/>
        <circle cx="18.43" cy="23.11" r="0.55"/>
        <circle cx="21.89" cy="21.49" r="0.55"/>
        <circle cx="25.48" cy="19.94" r="0.55"/>
        <circle cx="25.48" cy="13.15" r="0.55"/>
        <circle cx="21.89" cy="14.7" r="0.55"/>
        <circle cx="18.43" cy="16.32" r="0.55"/>
        <circle cx="10.09" cy="22.47" r="0.55"/>
        <circle cx="5.15" cy="19.94" r="0.55"/>
        <circle cx="10.09" cy="16.14" r="0.55"/>
        <circle cx="5.15" cy="13.61" r="0.55"/>
        <circle cx="20.35" cy="7.28" r="0.55"/>
        <circle cx="15.28" cy="7.28" r="0.55"/>
    </g>
</svg>
