<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.78 33.78" width="34px" height="34px">
    <g>
        <circle cx="16.89" cy="16.89" r="15.89"/>
        <polyline points="19.4 24.45 11.84 16.89 19.4 9.33"/>
    </g>
</svg>
