<svg data-name="Live casino" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.28 29.82" width="26px" height="30px">
    <g>
        <path d="M17.9,20.33V23.4h3.39c3.39,0,5.35,2.13,5.35,5.51" transform="translate(-2.36 -0.09)"/>
        <path d="M11.77,20.33V23.4H9c-3.39,0-5.68,1.94-5.68,5.32" transform="translate(-2.36 -0.09)"/>
        <path d="M21.14,13.88c0,3.39-2.74,7.35-6.13,7.35s-6-4-6-7.35" transform="translate(-2.36 -0.09)"/>
        <path d="M6.59,23.55C9,22,1.79,1.09,15,1.09c14.87,0,7.21,17.73,10.47,23.75" transform="translate(-2.36 -0.09)"/>
        <path d="M10.83,23.07c-6.08-20.47,4.9-15,7.4-17.72.77,1.52,6.28,9.55,0,17.72" transform="translate(-2.36 -0.09)"/>
    </g>
</svg>
