<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45 45" width="45px" height="45px">
    <path d="M 28.174815,15.019158 V 1.7299857 H 1.7330015 V 43.266999 H 28.24125 V 29.977826"/>
    <path d="M 14.928797,22.518639 H 43.316434 L 35.214031,14.416237"/>
    <path d="m 43.316434,22.518639 -7.754577,7.754578"/>
</svg>
