<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.74 29.91" width="29px" height="30px">
    <path d="M28,28.91c-.37-6.22-8.43-5.32-9.63-8.54a28.31,28.31,0,0,1-.06-2.88,5.64,5.64,0,0,0,1.55-3.35c.39,0,1-.42,1.19-1.93a1.41,1.41,0,0,0-.53-1.41c.64-1.92,2-7.87-2.46-8.49-.46-.8-1.62-1.2-3.14-1.2-6.06.11-6.79,4.58-5.47,9.69a1.42,1.42,0,0,0-.53,1.41c.18,1.51.8,1.9,1.19,1.93a5.63,5.63,0,0,0,1.58,3.35,28.31,28.31,0,0,1-.06,2.88" transform="translate(-0.28 -0.09)"/>
    <line x1="6.72" y1="19.91" x2="11.72" y2="23.91"/>
    <line x1="7.72" y1="28.91" x2="11.72" y2="23.91"/>
    <line x1="11.72" y1="23.91" x2="1" y2="23.91"/>
</svg>
