<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.99 23.24" width="30px" heigh="24px">
    <polyline class="cls-1" points="11.97 22.88 0.71 11.62 11.97 0.35"/>
    <line class="cls-1" x1="0.71" y1="11.62" x2="29.99" y2="11.62"/>
</svg>
