<svg id="Active" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.98 30.2" width="27px" height="30px">
    <g>
        <g>
            <line x1="1" y1="12.62" x2="3.4" y2="12.62"/>
            <line x1="23.58" y1="12.62" x2="25.98" y2="12.62"/>
        </g>
        <g>
            <line x1="8.69" y1="1" x2="9.89" y2="3.4"/>
            <line x1="18.29" y1="1" x2="17.09" y2="3.4"/>
        </g>
        <g>
            <line x1="2.69" y1="5.8" x2="5.09" y2="7"/>
            <line x1="24.29" y1="5.8" x2="21.89" y2="7"/>
        </g>
        <g>
            <path d="M22.22,12.68a7.13,7.13,0,0,0-7.12-7.2,7.3,7.3,0,0,0-7.32,7.2,7.11,7.11,0,0,0,2.88,5.84v7h8.4v-7A7.37,7.37,0,0,0,22.22,12.68Z" transform="translate(-1.51 0.1)"/>
            <path d="M18.6,25.5c0,1.2-1.61,3.6-3.6,3.6s-3.6-2.4-3.6-3.6Z" transform="translate(-1.51 0.1)"/>
            <line x1="9.59" y1="18.62" x2="17.39" y2="18.62"/>
            <path d="M15,21.08" transform="translate(-1.51 0.1)"/>
            <path d="M15,19.88" transform="translate(-1.51 0.1)"/>
            <line x1="9.89" y1="21.4" x2="17.09" y2="22.6"/>
        </g>
    </g>
</svg>
