<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.68 29.68" width="30px" height="30px">
    <g>
        <g>
            <path d="M17.46,12.51c0-1.38-1.08-2.1-2.46-2.1s-2.5.72-2.5,2.1S13.34,14.17,15,15s2.5,1.12,2.5,2.5-1.12,2.08-2.5,2.08-2.5-.7-2.5-2.08" transform="translate(-0.16 -0.16)"/>
            <line x1="14.84" y1="9.01" x2="14.84" y2="10.18"/>
            <line x1="14.84" y1="19.5" x2="14.84" y2="20.66"/>
        </g>
        <circle cx="14.84" cy="14.84" r="10.25"/>
        <circle cx="14.84" cy="14.84" r="13.84"/>
    </g>
</svg>
