<svg data-name="Profile edit" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.97 29.71" width="30px" height="30px">
    <g>
        <path d="M17.34,20.34a28.21,28.21,0,0,1-.06-2.87,5.62,5.62,0,0,0,1.54-3.34c.39,0,1-.41,1.19-1.92a1.41,1.41,0,0,0-.53-1.41c.64-1.92,2-7.85-2.45-8.46-.45-.8-1.62-1.2-3.13-1.2-6,.11-6.77,4.56-5.45,9.66a1.41,1.41,0,0,0-.53,1.41c.18,1.51.8,1.89,1.19,1.92a5.61,5.61,0,0,0,1.58,3.34,28.21,28.21,0,0,1-.06,2.87C9.45,23.56,1.39,22.66,1,28.85H12.82" transform="translate(-0.01 -0.15)"/>
        <g>
            <polygon points="16.43 26.2 16.43 28.71 18.94 28.71 26.35 21.3 23.84 18.79 16.43 26.2"/>
            <path d="M28.79,19a.67.67,0,0,0,0-.95l-1.56-1.56a.67.67,0,0,0-.95,0l-1.22,1.22,2.51,2.51Z" transform="translate(-0.01 -0.15)"/>
        </g>
    </g>
</svg>
