<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.93 27.65" width="30px" height="28px">
    <g>
        <path d="M18.75,2.17A15.44,15.44,0,0,0,3.31,17.62" transform="translate(-0.04 -1.17)"/>
        <polyline points="1 11.92 3.27 16.76 6.53 12.58"/>
        <line x1="18.71" y1="17.09" x2="23.86" y2="11.94"/>
        <line x1="18.71" y1="17.09" x2="14.85" y2="13.22"/>
        <circle cx="18.71" cy="16.44" r="10.21"/>
    </g>
</svg>
