<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.58 24.95" width="30px" height="25px">
    <g>
        <rect x="1" y="11.72" width="5.95" height="10.72"/>
        <path d="M7.91,16.43c5.32.07,6.59,2.61,8,2.61s5.62-.52,5.14,2.16c1.91.55,4.5-3.05,5.77-3.05a1.83,1.83,0,0,1,2,2.08c0,1.9-8.15,6.25-11.54,6.25s-8-3.31-9.57-3.31" transform="translate(-0.21 -2.53)"/>
        <line x1="12.31" y1="18.86" x2="20.65" y2="18.86"/>
        <path d="M23.84,4.72a1.19,1.19,0,0,1-1.19,1.19H19.08a1.19,1.19,0,0,1-1.19-1.19h0a1.19,1.19,0,0,1,1.19-1.19h3.57a1.19,1.19,0,0,1,1.19,1.19Z" transform="translate(-0.21 -2.53)"/>
        <path d="M17.88,9.48a1.19,1.19,0,0,1-1.19,1.19H13.12a1.19,1.19,0,0,1-1.19-1.19h0a1.19,1.19,0,0,1,1.19-1.19h3.57a1.19,1.19,0,0,1,1.19,1.19Z" transform="translate(-0.21 -2.53)"/>
        <path d="M23.84,14.24a1.19,1.19,0,0,1-1.19,1.19H19.08a1.19,1.19,0,0,1-1.19-1.19h0a1.19,1.19,0,0,1,1.19-1.19h3.57a1.19,1.19,0,0,1,1.19,1.19Z" transform="translate(-0.21 -2.53)"/>
    </g>
</svg>
