<svg data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.37 29.12" width="21px" height="30px">
    <g>
        <path class="cls-1" d="M21.24,11.18h-.59V6.25A5.31,5.31,0,0,0,15.34.94h-1A5.31,5.31,0,0,0,9.05,6.25v4.93H8.76a3.44,3.44,0,0,0-3.44,3.44v11a3.44,3.44,0,0,0,3.44,3.44H21.24a3.44,3.44,0,0,0,3.44-3.44v-11A3.44,3.44,0,0,0,21.24,11.18Z" transform="translate(-4.82 -0.44)"/>
        <path class="cls-1" d="M15.3,15.14h-.53a1.7,1.7,0,0,0-1.58,1.8v1.13a1.83,1.83,0,0,0,1,1.66V21a1.29,1.29,0,0,0-.48,1v.8a1.18,1.18,0,0,0,1.1,1.25h.51a1.18,1.18,0,0,0,1.1-1.25v-.8a1.29,1.29,0,0,0-.48-1V19.73a1.83,1.83,0,0,0,1-1.66V16.94A1.7,1.7,0,0,0,15.3,15.14Z" transform="translate(-4.82 -0.44)"/>
        <line class="cls-1" x1="4.23" y1="10.74" x2="15.84" y2="10.74"/>
    </g>
</svg>
