<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.61 21.87" width="30px" height="22px">
    <g>
        <path class="cls-1" d="M18.69,25.44c-3,0-3.67-2.79-3.67-4.06H.7c0,2.29,1.81,4.06,4.66,4.06H18.69a3.61,3.61,0,0,0,3.56-3.85V8.26A3.8,3.8,0,0,1,25.78,4.6,3.59,3.59,0,0,1,29.3,8.34l-7-.08" transform="translate(-0.2 -4.06)"/>
        <path class="cls-1" d="M25.81,4.56H11.5A4.27,4.27,0,0,0,8.39,5.9" transform="translate(-0.2 -4.06)"/>
        <line class="cls-1" x1="14.37" y1="5.26" x2="19.09" y2="5.26"/>
        <line class="cls-1" x1="14.4" y1="7.73" x2="19.13" y2="7.73"/>
        <line class="cls-1" x1="14.4" y1="10.2" x2="19.13" y2="10.2"/>
        <line class="cls-1" x1="7.38" y1="13.57" x2="7.38" y2="17.32"/>
        <polygon class="cls-1" points="1.52 4.4 7.24 10.2 10.2 7.3 4.39 1.53 1.52 4.4"/>
        <polygon class="cls-1" points="7.94 10.83 10.83 8.02 13.56 13.57 7.94 10.83"/>
    </g>
</svg>
