<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.68 29.68" width="30px" height="30px">
    <g>
        <line x1="1" y1="28.68" x2="28.68" y2="1"/>
        <line x1="28.68" y1="28.68" x2="1" y2="1"/>
    </g>
</svg>
