<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.76 22.52" width="30px" height="23px">
    <g>
        <rect x="1" y="1" width="27.76" height="20.52" rx="2.41" ry="2.41"/>
        <path d="M4.95,8.25l7.49,8.19a3.72,3.72,0,0,0,5.56,0l7.48-8.18" transform="translate(-0.12 -3.74)"/>
        <line x1="11.41" y1="11.77" x2="4.83" y2="17.79"/>
        <line x1="18.78" y1="11.77" x2="25.37" y2="17.79"/>
    </g>
</svg>
