<div class="wlc-svg-block">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 182.08 54.64" width="180px" height="54px">
    <path d="M46.16,14.73c0,4.45,0,8.9,0,13.35,0,1.85,0,3.71.14,5.56.14,2.23.67,2.82,2.81,3.29.54.12.55.37.41.86H46.6c-1.64,0-3.29,0-4.93,0-.24,0-.47-.25-.7-.38a2.89,2.89,0,0,1,.6-.45c.34-.14.72-.18,1.07-.29a2.1,2.1,0,0,0,1.61-1.78,24.39,24.39,0,0,0,.3-3.15c0-6,0-11.93,0-17.89a9.89,9.89,0,0,0-.05-1.19c-.23-1.9-.75-2.41-2.65-2.62l-.75-.09V9.19a1.55,1.55,0,0,1,.31-.07c2.12,0,4.24,0,6.36,0,.65,0,.71.41.87.82l7.8,20c.1.26.22.53.41,1,.17-.4.26-.63.35-.85,2.47-6.62,4.95-13.24,7.38-19.88A1.33,1.33,0,0,1,66.12,9.1c1.85.07,3.71,0,5.56,0,.21,0,.42.24.63.37-.18.17-.34.44-.55.48-2.06.39-2.47.82-2.64,2.92,0,.53,0,1.06,0,1.59q0,9.06,0,18.13a19.67,19.67,0,0,0,.11,2.06,2,2,0,0,0,1.94,2.14,3.76,3.76,0,0,1,.77.15.8.8,0,0,1,.37.47c0,.07-.24.25-.4.34s-.21,0-.31,0c-2.92,0-5.83,0-8.75,0-.26,0-.52-.25-.78-.38.23-.15.44-.4.68-.45,2-.36,2.4-.81,2.54-2.81,0-.5.06-1,.06-1.51q0-9,0-18v-.85l-.2-.05c-.1.24-.21.48-.3.73L56.39,36.6a5.43,5.43,0,0,1-.3.74,2.51,2.51,0,0,1-.4.43c-.16-.15-.38-.27-.46-.45-.75-1.87-1.48-3.74-2.21-5.62l-6.44-16.5a5.82,5.82,0,0,0-.27-.53Z"
          transform="translate(0.08 0)"/>
    <path d="M21.88,37.7v-.86c.7-.13,1.37-.26,2-.37A1.31,1.31,0,0,0,25.14,35a12.43,12.43,0,0,0-.51-2.79c-.66-2-1.42-4-2.18-6.05a.91.91,0,0,0-.68-.46q-5.68,0-11.37,0a.84.84,0,0,0-.66.37C8.91,28.54,8,31,7.36,33.59c-.48,1.88.26,2.73,2.2,3.08l.9.15v.91c-.2,0-.4.06-.6.06-2.68,0-5.35,0-8,0a1,1,0,0,1-.76-.39c-.19-.45.16-.62.57-.72a3.56,3.56,0,0,0,2.54-2.21c1-2.29,1.94-4.59,2.79-6.92C10.2,18.62,13.39,9.7,16.61.78c.12-.34.14-.77.73-.78s.65.44.79.81L30.06,32.73c.21.57.49,1.12.71,1.68a3.56,3.56,0,0,0,2.72,2.31c.21,0,.42.37.48.61s-.34.43-.52.44c-3.74,0-7.47,0-11.21,0A2.13,2.13,0,0,1,21.88,37.7Zm-.27-14.35L16.21,8.23H16L10.68,23.35Z"
          transform="translate(0.08 0)"/>
    <path d="M-.08,41.9V40.8h181.7v1.1Z" transform="translate(0.08 0)"/>
    <path d="M181.33,32.27,182,33c-2.4,3.24-5.39,5.4-9.54,5.5a11.13,11.13,0,0,1-11-6.6,17.66,17.66,0,0,1,.64-17.49c3-5,8.32-6.91,13.87-5.22l2.12.67A1.63,1.63,0,0,0,180.26,9c.15-.23.45-.35.69-.52l.22.14.34,9.55c-.6.26-.81.07-1-.48a21.4,21.4,0,0,0-1.69-3.92,7.15,7.15,0,0,0-11.95-.58,13.6,13.6,0,0,0-2.72,7A20.29,20.29,0,0,0,165,30.37c1.16,2.91,3,5.21,6.21,6a8.84,8.84,0,0,0,7.68-1.85C179.73,33.82,180.48,33,181.33,32.27Z"
          transform="translate(0.08 0)"/>
    <path d="M80.76,37.56c.15-.21.27-.55.47-.59a3.27,3.27,0,0,0,2.27-2.16c.63-1.52,1.25-3,1.81-4.58,2.53-7,5-13.95,7.57-20.91.1-.26.4-.45.6-.68.21.23.5.43.61.7q4.51,12,9,24c.24.64.53,1.27.79,1.91a2.6,2.6,0,0,0,1.9,1.64c.51.12.5.15.47.8a2.64,2.64,0,0,1-.44.07c-2.73,0-5.46,0-8.19,0-.23,0-.45-.21-.68-.32.21-.17.39-.45.62-.49,1.94-.32,2.27-.68,1.74-2.57s-1.23-3.72-1.9-5.56a.83.83,0,0,0-.64-.39q-4.29,0-8.59,0a.9.9,0,0,0-.66.49c-.59,1.67-1.12,3.36-1.67,5.05a3.42,3.42,0,0,0-.1.46c-.27,1.56.2,2.22,1.74,2.5.25,0,.46.29.69.44-.26.14-.51.38-.77.39-2.14,0-4.29,0-6.43,0Zm16-11L92.59,15h-.2L88.32,26.61Z"
          transform="translate(0.08 0)"/>
    <path d="M115.71,37.79V37l1.6-.29A1.93,1.93,0,0,0,119,34.91a17.57,17.57,0,0,0,.15-1.9q0-10.65,0-21.3c0-.21,0-.42,0-.73-1.83,0-3.65-.24-5.4.48a2.82,2.82,0,0,0-1.59,1.79c-.29.85-.51,1.72-.74,2.59-.17.65-.16.66-.87.52V9.18H131.4V16.4c-.47.19-.72,0-.85-.56a24.15,24.15,0,0,0-.76-2.59,2.91,2.91,0,0,0-2.55-2.1c-1.44-.16-2.89-.19-4.37-.28,0,.29-.07.44-.07.59q0,11,0,22.1c0,.13,0,.27,0,.4.13,2.16.58,2.66,2.73,3,.1,0,.24,0,.31,0a5.35,5.35,0,0,1,.48.47c-.17.12-.34.33-.51.33-1.56,0-3.13,0-4.69,0Z"
          transform="translate(0.08 0)"/>
    <path d="M140.08,9.16h10.7v.73c-.61.11-1.18.19-1.74.32a1.88,1.88,0,0,0-1.57,1.68,11.34,11.34,0,0,0-.17,1.66q0,10.05,0,20.1c0,.11,0,.21,0,.32.12,2.16.58,2.66,2.72,3,.08,0,.18,0,.23,0s.37.32.56.48c-.19.12-.38.33-.58.34-1,0-2,0-2.94,0-2.2,0-4.4,0-6.59,0-.24,0-.47-.24-.71-.36.22-.15.42-.41.66-.45,2.34-.35,2.8-.73,2.85-3.07.09-3.79.06-7.57.07-11.36,0-3.2,0-6.41-.07-9.61-.05-2.1-.68-2.69-2.78-2.9C140.2,10,139.82,9.89,140.08,9.16Z"
          transform="translate(0.08 0)"/>
    <path d="M21.9,54.44c-.94.24-1.39.06-1.59-.85A25.1,25.1,0,0,0,19.13,50v4.5H17.87V45.86c1.1-.26,1.15-.23,1.45.78.37,1.2.74,2.4,1.21,3.58V45.91c1.2-.4,1.37-.28,1.37.91q0,3.38,0,6.75C21.9,53.86,21.9,54.14,21.9,54.44Z"
          transform="translate(0.08 0)"/>
    <path d="M123.27,50.11l.23,4.34c-1.33.21-1.47.1-1.47-1.23,0-.84,0-1.68,0-2.58h-1.34v3.83h-1.31V45.8a29.22,29.22,0,0,1,3.08,0,1.27,1.27,0,0,1,.89.82,16.25,16.25,0,0,1,0,2.77,2.1,2.1,0,0,1-.32.7ZM122,49.62c0-.91,0-1.75,0-2.59,0-.15-.39-.38-.59-.38s-.68.2-.7.35c-.07.86,0,1.72,0,2.62Z"
          transform="translate(0.08 0)"/>
    <path d="M38.37,54.51V45.79c1,0,2,0,3,0,.68,0,1,.47,1,1.18,0,2.09,0,4.18,0,6.28a1.07,1.07,0,0,1-1.06,1.23C40.38,54.56,39.4,54.51,38.37,54.51ZM41,53.6c0-2.15,0-4.21,0-6.27,0-.49-.11-.72-.66-.72s-.74.17-.73.73c0,1.88,0,3.76,0,5.64a5.18,5.18,0,0,0,.07.61Z"
          transform="translate(0.08 0)"/>
    <path d="M61.54,45.8h1.35c0,1,0,2,0,3,0,1.32,0,2.65,0,4,0,1-.37,1.55-1.31,1.67a4.72,4.72,0,0,1-2-.24,1.28,1.28,0,0,1-.72-.93c-.06-2.48,0-5,0-7.51h1.29v7.75h1.41Z"
          transform="translate(0.08 0)"/>
    <path d="M177.85,52.26H179l.1,1.31h1.3v-3c-.5,0-1,0-1.43,0-.93-.05-1.27-.42-1.27-1.34,0-.66,0-1.32,0-2a1.19,1.19,0,0,1,.85-1.29,4.57,4.57,0,0,1,1.85-.2c1.18.17,1.52.81,1.33,2.15-1.11.26-1.18.24-1.27-.8,0-.54-.38-.47-.73-.48s-.7,0-.68.51c0,.79,0,1.58,0,2.53.51,0,1,0,1.44,0,1,.07,1.3.41,1.3,1.4,0,.45,0,.9,0,1.35,0,1.73-1.12,2.56-2.81,2.09C177.94,54.2,177.59,53.57,177.85,52.26Z"
          transform="translate(0.08 0)"/>
    <path d="M80.71,46.62v3c.48,0,.93,0,1.36,0,1,.06,1.31.41,1.32,1.38,0,.66,0,1.32,0,2a1.28,1.28,0,0,1-.85,1.31,2.76,2.76,0,0,1-2.45,0c-.74-.37-.9-.87-.69-2h1.21l.08,1.28H82v-3c-.52,0-1,0-1.46,0-.89-.06-1.22-.41-1.24-1.3,0-.61,0-1.22,0-1.83a1.51,1.51,0,0,1,1.39-1.71,3.45,3.45,0,0,1,.87-.06c1.39.06,1.93.75,1.74,2.26H82.18a3.09,3.09,0,0,0-.31-1.23C81.71,46.53,81.18,46.64,80.71,46.62Z"
          transform="translate(0.08 0)"/>
    <path d="M161.6,45.77v.86c-.67,0-1.32,0-2,0s-.73.14-.7.67c0,.76,0,1.52,0,2.37h2v.93a10.12,10.12,0,0,0-1.45,0c-.2,0-.52.29-.53.46-.06.81,0,1.63,0,2.54h2.68v.85c-1.07,0-2.11,0-3.15,0a1,1,0,0,1-.91-1.1q0-3.21,0-6.43a1,1,0,0,1,1.08-1.12C159.61,45.73,160.58,45.77,161.6,45.77Z"
          transform="translate(0.08 0)"/>
    <path d="M102,54.49h-1.29c0-.29,0-.57,0-.85,0-2,0-4,0-6,0-.77-.12-1.23-1-1.07a1.34,1.34,0,0,1-.35,0v-.79h4l0,.7c-.08.05-.12.11-.16.11-1.19.12-1.19.12-1.19,1.31C102,50.07,102,52.23,102,54.49Z"
          transform="translate(0.08 0)"/>
    <path d="M1.34,54.5H.09V45.82H1.34Z" transform="translate(0.08 0)"/>
    <path d="M141.11,54.49h-1.22V45.8h1.22Z" transform="translate(0.08 0)"/>
</svg>
</div>
