<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.7 15.7" width="22.7px" height="15.7px">
    <title>arrow</title>
    <path d="M22.7,7.85h0A.85.85,0,0,0,22.12,7l-21-7A.85.85,0,0,0,.25,1.45l6.4,6.4-6.4,6.4a.85.85,0,0,0,.87,1.41l21-7a.85.85,0,0,0,.58-.81h0Zm-14.25.6a.85.85,0,0,0,.25-.6h0a.85.85,0,0,0-.25-.6L4,2.79,19.16,7.85,4,12.91Z"
          transform="translate(0 0)"/>
</svg>
