<svg data-name="home-icon"
     xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 40 32.49"
     width="40px" height="32.49px"
>
    <title>back-icon</title>
    <path d="M16.25,36.25a1.23,1.23,0,0,1-.87-.36l-15-15a1.23,1.23,0,0,1,0-1.74l15-15a1.23,1.23,0,0,1,1.74,1.74L3,20,17.12,34.14a1.23,1.23,0,0,1-.87,2.1Z"
          transform="translate(0 -3.75)"/>
    <path d="M38.77,21.41h-29a1.23,1.23,0,1,1,0-2.47h29a1.23,1.23,0,1,1,0,2.47Z" transform="translate(0 -3.75)"/>
</svg>
