<div class="wlc-svg-block">
    <svg data-name="Layout 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 435" width="180px" height="40px">
        <g>
            <path d="M208.4,315.6c27.1,0,46.7-21.2,51.3-46.8s-6.3-52.4-35.3-53.1c-27.8-.7-49.2,22.1-53.9,48.3C165.8,290.4,179.7,315.6,208.4,315.6Z"
                  transform="translate(0.02 -6.22)"/>
            <path d="M406.8,213.1c-21.6,0-42.1,16.3-46.7,37.7h79.5C442.8,228.9,429,213.1,406.8,213.1Z"
                  transform="translate(0.02 -6.22)"/>
            <path d="M714.5,76.5C694.7,30.1,640.5,13,594.4,8.2,513.9-.3,430.8,19.7,355.2,45.7c-54.6,18.8-108,42.1-158.5,70.3l-18.3,97.8h.6c29-42,99.4-37.2,116.3,13,16,47.3-14.3,107.8-64.1,118-26.6,5.4-58-3.1-71.4-28.4h-.6l-4.5,26.2H119.2l35.4-201.2C103.6,174.4,53,215.3,22,268.5,2.7,301.7-9,344,8.7,380.6c17.5,36.2,60.5,50.7,97.5,56.5,58.9,9.2,120.3,1.4,177.9-11.7,80.8-18.4,159-49.6,231-90.6-16.2-16.8-7.2-44-3.5-64.5,3.1-16.8,6.2-33.7,9.3-50.5H493.7l5.4-30.7h26.5l7.7-44.7h37.1l-7.7,44.7h34.5l-5.4,30.7H557.9l-8.4,45c-2.1,11.4-12.8,42.2,1.4,48.3C672.3,235,741.7,140.5,714.5,76.5Zm-241.3,184a121.76,121.76,0,0,1-2.9,17.1H356.7c-3.7,18.8,13.4,34.3,30.3,37.7,20.3,4.1,39.9-4.1,53.4-19.2l21.4,20.1c-19.5,21-46.2,32.1-74.9,30.5-30.1-1.7-57.4-19.5-64.4-49.9-14.3-62.8,42.2-124,106.1-110,15.5,3.4,29.6,12.1,37.7,26.1C474.6,227.5,475,244.2,473.2,260.5Z"
                  transform="translate(0.02 -6.22)"/>
        </g>
        <path d="M846.8,212.5l3.8-23.3h35.8c-5.7,32.7-11.3,65.5-17,98.2-7.5,43.4-10.9,98.8-54.6,121.5-36.2,18.8-93.5,13-122.3-17.2l24.9-27.2c18.3,21.6,54.3,29.4,79.4,15.2,21.1-12,25.6-36.7,30.1-58.6h-.6c-29.9,39.6-99.2,29.1-114.2-18.5-15.3-48.5,16.8-109.2,68.5-116.8,24.6-3.6,53.2,2.5,65.2,26.6h1Zm-99.7,62.4c0,27.3,21.9,44.6,48.6,38.6s43.5-33.6,42.8-60c-.7-27.3-24.3-43.1-50.2-37.3C761.3,222.2,747.1,248.9,747.1,274.9Z"
              transform="translate(0.02 -6.22)"/>
        <path d="M1009.4,245.4c2.7-16.3-2.1-28.1-19.7-30.2-18.3-2.3-37.5,4.2-52.2,14.9l-14.4-25.2c19.9-14.1,45.3-21,69.6-19.7,22.5,1.2,47.9,10.8,53,35.4,2.6,12.4-.2,24.8-2.4,37l-6.9,38.7c-2.7,15.3-5.9,30.7-5.9,46.3H996a91.59,91.59,0,0,1,1.9-18.2h-.6c-26.1,31.2-99,31.2-98.1-20.5C900.2,250.4,969.8,245.4,1009.4,245.4Zm-8,26.8c-17.3,0-37-.2-52.8,8-6.8,3.5-12.3,8.5-13.2,16.4-1,8.3,2.8,15.5,10.3,19,15.1,7,35.3,1,46.4-10.6,8.8-9.2,11.4-20.7,13.8-32.7h-4.5Z"
              transform="translate(0.02 -6.22)"/>
        <path d="M1093.5,206.4c.9-6.4,1.6-12.1,2.1-17.2h35.1c-.7,8-1.9,16-2.9,24h.6c11.8-18.3,29.3-29.1,51.3-28,18.7.9,36.8,10.7,42,29.9,15.3-21.7,38.9-33.2,65.5-29.3,28.5,4.2,42.8,28.1,39.8,55.6-2.6,24-8.3,47.9-12.5,71.6-1.7,9.8-3.5,19.7-5.2,29.5h-37.4c5-28.5,10.4-57,14.9-85.6,2.6-16.6,1.9-36.8-18.7-39.9-18.5-2.8-34.2,9.6-41.7,25.7-6.8,14.7-8,32.9-10.8,48.7q-4.5,25.5-9,51.1h-37.7c5.4-30.6,10.9-61.2,16.1-91.8,2-11.6,1.3-26.3-11-31.9-17.5-7.9-36.5,4.5-45,19.4s-9.7,34.8-12.7,51.4c-3.1,17.6-6.3,35.2-9.4,52.9h-37.4C1077.7,297.1,1086.7,251.9,1093.5,206.4Z"
              transform="translate(0.02 -6.22)"/>
        <path d="M1388.8,277.6c-3.7,18.8,13.4,34.3,30.3,37.7,20.3,4.1,39.9-4.1,53.4-19.2l21.4,20.1a94.05,94.05,0,0,1-77.7,30.3c-31.9-2.7-58.4-23.8-62.8-56.3-4.1-30.7,7.5-63.7,31-84.1,23.1-20.1,58.6-27.4,87.3-15.9,35.8,14.4,38.7,54.5,30.9,87.4Zm83.1-26.8c3-21.2-9.9-37.1-31.6-37.7-22.1-.5-43.3,15.7-48,37.7Z"
              transform="translate(0.02 -6.22)"/>
        <path d="M1541.2,298.4c9.7,18.7,42.4,27.2,58.7,12,7-6.6,7.1-18.6-1-24.3-8.4-5.9-19.5-8.1-28.9-11.6-9.8-3.6-20.1-7.9-26.9-16.2-7.6-9.2-9.1-22.2-6.3-33.6,5.8-23.2,29.6-35.8,51.7-38.9,25.3-3.5,54.7,2.5,69.1,25.6l-29.1,17.2c-6.7-10.3-17-15-29.1-15-9.5,0-22.4,2.4-26.2,12.5-4.3,11.5,4.8,17.1,14.2,20.6,11.3,4.2,22.9,6.7,33.4,12.9,19.1,11.3,26.3,33.3,17.8,54.2-9.5,23.3-35.3,33.2-58.7,34.2-26.3,1.1-53.3-6.9-67.7-30.6Z"
              transform="translate(0.02 -6.22)"/>
        <path d="M1707.9,319.5c0,30.3-47.2,32.2-47,1.3C1661.1,290.8,1707.9,288.2,1707.9,319.5Z"
              transform="translate(0.02 -6.22)"/>
        <path d="M1731.3,219.8l5.4-30.7h26.5l7.7-44.7H1808l-7.7,44.7h34.5l-5.4,30.7h-33.9c-3.3,17.6-6.6,35.3-9.9,52.9-1.2,6.3-2.4,12.5-3.5,18.8-1.2,6.8-2.5,15.7,4,20.3,7.4,5.3,19.5,3.3,27.6,1.2l-2.2,28.4c-17.8,7.2-47.9,7.5-60.9-9-10.5-13.3-7.1-31.1-4.3-46.5,4.1-22.1,8.1-44.1,12.2-66.2h-27.2Z"
              transform="translate(0.02 -6.22)"/>
        <path d="M1909,342.5h-40.3l-30-153.3H1878l17.9,112.4h.6l63.9-112.4H2000Z" transform="translate(0.02 -6.22)"/>
    </svg>
</div>
