<div class="wlc-svg-block">
    <svg data-name="Booming games" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 243.8" width="148px" height="60px">
        <path d="M89.9,27.3c0-7.8,2.3-11.6,9.6-11.6s9.6,3.8,9.6,11.6V67.2H127V26.8C127,12.1,118.4,0,99.5,0S72,12.1,72,26.8V67.2H89.9Zm18.9,54V94.4c0,7.8-2.3,11.6-9.6,11.6s-9.6-3.8-9.6-11.6V81.3H71.7V94.7c0,14.6,8.6,26.8,27.5,26.8s27.5-12.1,27.5-26.8V81.3Z" transform="translate(0 0.1)"/>
        <path d="M181.3,81.3V94.4c0,7.8-2.3,11.6-9.6,11.6s-9.6-3.8-9.6-11.6V81.3H144.2V94.7c0,14.6,8.6,26.8,27.5,26.8s27.5-12.1,27.5-26.8V81.3Zm-19.2-54c0-7.8,2.3-11.6,9.6-11.6s9.6,3.8,9.6,11.6V67.2h17.9V26.8c0-14.6-8.6-26.8-27.5-26.8s-27.5,12.1-27.5,26.8V67.2h17.9Z" transform="translate(0 0.1)"/>
        <g>
            <rect x="216.7" y="81.4" width="15.7" height="38.9"/>
            <path d="M248.7,120.2h8.8l7.6-38.9h-24l7.6,38.9ZM289.6,1.5H266.1L253.2,62.6H253L240.4,1.5H216.7V67.2h15.7v-43h.3l8.6,42.9h24l8.6-42.9h.3V67.1h15.7V1.5Z" transform="translate(0 0.1)"/>
            <rect x="274" y="81.4" width="15.7" height="38.9"/>
        </g>
        <g>
            <rect x="308.8" y="1.6" width="17.9" height="65.7"/>
            <rect x="308.8" y="81.4" width="17.9" height="38.9"/>
        </g>
        <g>
            <rect x="346" y="81.4" width="16.2" height="38.9"/>
            <path d="M371.7,81.3l13.6,38.9H401V81.3ZM401,1.5H384.6V61.3h-.3L362.6,1.5H346V67.2h16.2V40.7h.3l9.3,26.5H401V1.5Z" transform="translate(0 0.1)"/>
        </g>
        <path d="M436.4,27c0-8.8,3.5-11.4,8.1-11.4,7.1,0,10.4,4,10.4,19.7H472V28.7C472,13,462.9-.1,445-.1c-17.7,0-26.3,12.1-26.3,26.8V67.1h17.9Zm6.5,40.2V81.3h11.4V91.4c0,10.4-2.5,14.4-9.8,14.4-6.3,0-8.3-4.3-8.3-11.1V81.1H418.3V94.7c0,16.7,9.8,26.8,24,26.8,8.3,0,12.6-2.8,18.2-9.3l3.3,7.8h8.6V67l-29.5.2Z" transform="translate(0 0.1)"/>
        <path d="M24.7,203H36.1v10.1c0,10.4-2.5,14.4-9.8,14.4-6.3,0-8.3-4.3-8.3-11.1V162.6c0-8.8,3.5-11.4,8.1-11.4,7.1,0,10.4,4,10.4,19.7H53.7v-6.6c0-15.7-9.1-28.8-27-28.8C9,135.5.4,147.6.4,162.3v53.8c0,16.7,9.8,26.8,24,26.8,8.3,0,12.6-2.8,18.2-9.3l3.3,7.8h8.6v-53H25V203Zm83.1-65.6H85.6L73.5,203l-7.1,38.9H83.8l3.3-23.2h19.7l3.3,23.2h17.4L120.4,203ZM89.4,203.3l7.1-44.9h.3l7.1,44.9Zm85.9-4.8H175l-12.6-61.1H138.7V241.9h15.7V160.3h.3l8.6,42.7,7.6,38.9h8.8l7.6-38.9,8.6-42.7h.3v81.6h15.7V137.4H188.4l-13.1,61.1Zm69.1,4.5v-7.3h23.2V180H244.4V153h30.1V137.3h-48V241.8h50V226.1H244.4V203Zm94.2,0c-8.8-18.2-33.3-26.5-33.3-41.2,0-6.6,3.3-10.4,9.1-10.4,4,0,8.8,2.5,9.6,11.6l17.2-1.8c-1.5-14.6-10.4-25.3-25-25.3-17.7,0-27.8,9.3-27.8,26,0,21.2,18.4,30.3,29,41.2,4.3,4.3,7.3,9.1,7.3,15.2,0,6.3-4.3,9.6-10.4,9.6-5.8,0-10.1-5.3-10.6-15.7l-17.2,2.5c.8,15.7,10.4,29,27,29s28.3-9.6,28.3-26.8a28.52,28.52,0,0,0-3.2-13.9Z" transform="translate(0 0.1)"/>
        <rect x="489.6" y="67.3" width="110.1" height="14.1"/>
        <rect x="354.3" y="227.9" width="16.9" height="14.1"/>
        <path d="M421.5,172.2v-8.1c0-8.8-4-12.6-8.6-12.6-7.3,0-9.6,3.8-9.6,11.6v52.8c0,7.8,2.3,11.6,9.6,11.6,6.6,0,8.6-3.8,8.6-10.6V204.3h17.9v11.9c0,14.6-8.6,26.8-26.5,26.8-18.7,0-27.5-11.9-27.5-26.8V162.4c0-14.6,8.6-26.8,27.5-26.8,17.9,0,26.5,12.9,26.5,28.5v7.6H421.5v.5Zm34.6-9.6c0-14.6,8.6-26.8,27.5-26.8,18.7,0,27.5,11.9,27.5,26.8v53.8c0,14.6-8.6,26.8-27.5,26.8-18.7,0-27.5-11.9-27.5-26.8Zm17.6,53.3c0,7.8,2.3,11.6,9.6,11.6s9.6-3.8,9.6-11.6V163.1c0-7.8-2.3-11.6-9.6-11.6s-9.6,3.8-9.6,11.6Z" transform="translate(0 0.1)"/>
        <path d="M600,137.9v104H584.3V160.6H584l-16.2,81.3h-8.6L543,160.6h-.3v81.3H527v-104h23.5l12.6,60.9h.3L576,137.9Z" transform="translate(0 0.1)"/>
        <path d="M17.9,59.1h5.8c7.6,0,11.9,2.8,13.6,8.1H55.5C53.8,59.1,49,54,41.9,51c8.6-3.5,12.4-12.9,12.4-22,0-17.9-8.6-27.8-27.8-27.8H0V66.9H17.9Zm0-42.9h6.8c8.1,0,11.6,5,11.6,14.6,0,8.6-5.3,13.4-12.1,13.4H17.6ZM56.6,81.3h-18v7.8c0,10.6-3.5,16.2-13.1,16.2H17.9v-24H0v38.9H28.3c20.5,0,28-13.1,28-30.3v-.8C56.6,89.1,56.6,81.3,56.6,81.3Z" transform="translate(0 0.1)"/>
    </svg>

</div>
