<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="157.587px" height="157.587px" viewBox="0 0 157.587 157.587" xml:space="preserve">
<g>
    <path d="M55.788,95.833c0,12.689,10.314,22.999,22.992,22.999c12.69,0,22.994-10.31,22.994-22.999
        c0-12.69-10.314-22.996-22.994-22.996C66.102,72.844,55.788,83.143,55.788,95.833z M78.78,78.449
        c9.594,0,17.391,7.803,17.391,17.39c0,9.593-7.807,17.391-17.391,17.391c-9.583,0-17.389-7.81-17.389-17.391
        C61.391,86.247,69.192,78.449,78.78,78.449z M75.977,107.505c0-1.541,1.255-2.802,2.803-2.802c4.885,0,8.86-3.979,8.86-8.87
        c0-1.537,1.265-2.802,2.802-2.802c1.55,0,2.802,1.265,2.802,2.802c0,7.979-6.49,14.474-14.464,14.474
        C77.232,110.307,75.977,109.047,75.977,107.505z M78.772,65.016c-33.313,0-59.754,27.715-60.863,28.897
        c-1.013,1.074-1.013,2.76,0,3.842c1.109,1.176,27.55,28.903,60.863,28.903c33.324,0,59.771-27.728,60.879-28.903
        c1.013-1.072,1.013-2.758,0-3.842C138.542,92.731,112.096,65.016,78.772,65.016z M78.772,121.054
        c-25.972,0-48.261-19.031-54.828-25.221c6.567-6.188,28.856-25.215,54.828-25.215c25.976,0,48.271,19.026,54.846,25.215
        C127.043,102.023,104.748,121.054,78.772,121.054z M156.762,66.534l-10.812,10.81c3.767,2.966,5.877,4.98,5.953,5.057
        c1.059,1.121,1.013,2.905-0.118,3.962c-0.542,0.503-1.233,0.754-1.923,0.754c-0.749,0-1.494-0.295-2.041-0.869
        c-0.279-0.302-30.438-29.166-69.496-29.166c-38.618,0-68.293,28.864-68.568,29.161c-1.053,1.116-2.825,1.187-3.961,0.12
        c-1.126-1.057-1.189-2.824-0.129-3.952c0.077-0.081,2.167-2.122,5.899-5.132L0.82,66.534c-1.093-1.092-1.093-2.869,0-3.962
        c1.09-1.092,2.869-1.092,3.961,0l11.285,11.286c6.08-4.455,14.573-9.822,24.826-14.221L32.92,45.366
        c-0.754-1.353-0.273-3.063,1.076-3.817c1.341-0.747,3.054-0.282,3.816,1.075l8.331,14.922c8.972-3.316,19.034-5.659,29.85-5.967
        V33.733c0-1.547,1.257-2.803,2.802-2.803c1.548,0,2.802,1.256,2.802,2.803v17.885c10.728,0.42,20.766,2.807,29.731,6.142
        l8.455-15.142c0.755-1.357,2.451-1.828,3.819-1.076c1.346,0.756,1.829,2.46,1.073,3.817l-8.1,14.501
        c10.233,4.385,18.747,9.693,24.871,14.09l11.375-11.384c1.092-1.092,2.875-1.092,3.963,0
        C157.868,63.658,157.851,65.437,156.762,66.534z"/>
</g>
</svg>
