<svg viewBox="0 0 30 30" width="25.559999" height="25.559999" class="wlc-svg-icon wlc-svg-icon_fullscreen">
    <g>
        <path d="M 28.845121,11.191436 V 1.1830673 L 1.1428173,28.862463 v -9.933107"/>
        <path d="m 28.903608,19.248217 -10e-7,9.655775 L 1.1022376,1.1020402 v 9.8716078"/>
        <path d="M 28.903607,28.903991 H 19.289799"/>
        <path d="M 28.84473,1.1141997 H 19.268983"/>
        <path d="M 1.1022376,1.1020402 H 10.806101"/>
        <path d="M 1.1029132,28.935172 H 10.849248"/>
    </g>
</svg>
