<div class="wlc-svg-block">
    <svg data-name="Habanero" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000.1 942.9" width="127px" height="60px">
        <g>
            <path class="cls-1" d="M222.5,947.6H155V848.8H67.5v98.8H0V696.1H67.5v95H155v-95h67.5Z" transform="translate(0 -6.4)"/>
            <path class="cls-1" d="M329.9,904.2l-12.1,43.4H247.7l75.4-251.5H425.3l76.5,251.5H433.2L420,904.2Zm45.3-158L344.3,855.6h62.6Z" transform="translate(0 -6.4)"/>
            <path class="cls-1" d="M527.2,696.1H664c22.9.2,41.1,4.6,54.7,13s20.4,25.6,20.4,51.5c0,14.6-2,27.2-5.8,37.9s-15,17.5-33.4,20.6V821q25.65,2.7,34.5,16.2c5.9,9.1,8.9,21.9,8.9,38.5q0,42.3-16.8,57.1t-61.3,14.9h-138V696.1ZM637.6,796.7a10.32,10.32,0,0,0,3,.4h2.6a71.27,71.27,0,0,0,20.6-3.2c5.7-1.9,8.5-8,8.5-18.3,0-9.1-1.6-15.3-4.7-18.7s-9.2-5.1-18.3-5.1H594.6v44.9Zm1.9,95.4c10.6.3,19.3-.7,26.2-2.8s10.4-9.4,10.4-21.7c0-11.8-2.7-18.8-8.1-20.9s-13.4-3.2-23.9-3.2H594.7v48.6Z" transform="translate(0 -6.4)"/>
            <path class="cls-1" d="M833,904.2l-12.1,43.4H750.8l75.4-251.5H928.4L1005,947.6H936.4l-13.2-43.4Zm45.2-158L847.3,855.6h62.6Z" transform="translate(0 -6.4)"/>
            <path class="cls-1" d="M1273.8,947.6H1159.5l-70.9-193.4h-3l3,193.4h-66V696.1h113.5L1207,887.3h2.6L1207,696.1h66.7V947.6Z" transform="translate(0 -6.4)"/>
            <path class="cls-1" d="M1374.4,796.7h107.1v46.8H1374.4v48.6h116.9v55.4H1306.9V696.1H1489v55.4H1374.4Z" transform="translate(0 -6.4)"/>
            <path class="cls-1" d="M1523,696.1h126.7q48.3.3,69,16.4t20.7,66.6c0,18.9-2.1,34.1-6.2,45.8s-17.9,20.1-41.3,25.1v2.3q23.4,1.5,34.5,14.1c7.4,8.4,11.1,20.3,11.1,35.6v45.6h-68.6V914c0-10.1-2-18-5.8-24s-11.4-8.9-22.4-8.9h-50.1v66.4H1523Zm121,127.4c12.3.3,19.8-2.5,22.4-8.3s4-14.1,4-24.9c0-12.3-1.4-21.4-4.1-27.2s-11.3-8.7-25.6-8.7l-50.1-.4v69.4H1644v.1Z" transform="translate(0 -6.4)"/>
            <path class="cls-1" d="M1765.8,808.6c0-5.2.1-10.2.4-15.3s.6-10.1,1.1-15.3,1.1-10.2,1.9-15.3q7.2-42.3,38.5-54.7a192.18,192.18,0,0,1,67.5-13.2h7.6q65.25,0,91.3,22.1t26,90.3q0,69.75-15.3,105.9t-100.1,36.2c-4,0-8.2-.1-12.4-.2s-8.6-.3-12.8-.6a156.09,156.09,0,0,1-53.9-11.7c-16.8-7-28.3-21.1-34.3-42.2a115.17,115.17,0,0,1-4.5-26c-.5-8.8-.8-17.6-.8-26.4V823.4C1765.8,818.7,1765.8,813.8,1765.8,808.6Zm69,13.8v15.1c0,17.8,1.9,31.4,5.7,40.7s16.1,13.9,37,13.9c23.1,0,37.8-3.7,43.9-11.1s9.2-21.8,9.2-43.2v-9.1c0-3,.1-6.2.4-9.4V801.2c0-16.8-2.4-29.2-7.2-37s-16.2-11.7-34.3-11.7c-26.1,0-41.7,3.5-46.6,10.6s-7.6,26.4-8.1,58.1v1.2Z" transform="translate(0 -6.4)"/>
        </g>
        <path class="cls-1" d="M1025.2,82a12.61,12.61,0,0,0,12.6-12.6V33.1a12.6,12.6,0,1,0-25.2,0V69.4A12.68,12.68,0,0,0,1025.2,82Z" transform="translate(0 -6.4)"/>
        <path class="cls-1" d="M975,115.4a12.61,12.61,0,0,0,12.6-12.6V66.5a12.6,12.6,0,1,0-25.2,0v36.3A12.55,12.55,0,0,0,975,115.4Z" transform="translate(0 -6.4)"/>
        <path class="cls-1" d="M975,31.3a12.61,12.61,0,0,0,12.6-12.6V19a12.6,12.6,0,0,0-25.2,0v-.3A12.55,12.55,0,0,0,975,31.3Z" transform="translate(0 -6.4)"/>
        <path class="cls-1" d="M1075.5,125a12.61,12.61,0,0,0,12.6-12.6v.3a12.6,12.6,0,1,0-25.2,0v-.3A12.68,12.68,0,0,0,1075.5,125Z" transform="translate(0 -6.4)"/>
        <path class="cls-1" d="M1176.1,218.3a12.61,12.61,0,0,0-12.6,12.6v6.3a12.56,12.56,0,0,1-25.1-.8V205a12.6,12.6,0,0,0-25.2,0v.7a12.6,12.6,0,0,1-25.2,0V153.1a12.55,12.55,0,1,0-25.1,0v20a12.94,12.94,0,0,1-12.6,12.6,12.61,12.61,0,0,1-12.6-12.6V116.5a12.6,12.6,0,0,0-25.2,0v49.2a12.6,12.6,0,0,1-25.2,0V148.1a12.6,12.6,0,1,0-25.2,0v37.8a12.6,12.6,0,0,1-25.2,0V133.4a12.6,12.6,0,0,0-25.2,0v80.4a12.6,12.6,0,0,1-25.2,0V192.5a12.6,12.6,0,0,0-25.2,0v59.2a12.6,12.6,0,1,1-25.2,0V232.2a12.6,12.6,0,1,0-25.2,0l-.2,19.4V469.4l189.3,109,188.6-108.9V331.7c0-.2.1-.4.1-.6V230.8A12.59,12.59,0,0,0,1176.1,218.3Zm-87.3,213.6h-59.3V386.8H970.3v45.1H911.1V290.6h59.2v47.5h59.2V290.6h59.3Z" transform="translate(0 -6.4)"/>
    </svg>
</div>
