<svg data-name="home-icon"
     xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 40 38"
     width="40px" height="38px"
>
    <title>home-icon</title>
    <path d="M33.85,21a1.18,1.18,0,0,0-1.14,1.11c0,.12,0,.24,0,.36V36.57H25.28V26.33a.38.38,0,0,0-.38-.38H15.08a.38.38,0,0,0-.38.38V36.56H7.3V21.77s0-.07,0-.1,0-.23,0-.35a1.19,1.19,0,0,0-2.38,0c0,.1,0,.19,0,.28s0,.06,0,.09V38.62a.38.38,0,0,0,.38.38H16.7a.38.38,0,0,0,.38-.38c0-.1,0-.2,0-.3s0-.44,0-.67q0-3.54,0-7.09V28.36h5.78v1.46q0,4.17,0,8.34c0,.12,0,.23,0,.34v.14a.38.38,0,0,0,.38.37H34.71a.38.38,0,0,0,.38-.38V22.5s0-.06,0-.09a2.54,2.54,0,0,0,0-.33A1.2,1.2,0,0,0,33.85,21Z"
          transform="translate(0 -1)"/>
    <path d="M39.91,20.06l-.11-.14a3.15,3.15,0,0,0-.3-.35l-19-18.23-.19-.17-.09-.07a.38.38,0,0,0-.51,0l-.13.12-.25.24-2.06,2L.78,19.3c-.17.17-.33.35-.48.52L.1,20a.39.39,0,0,0-.1.26v.54a.39.39,0,0,0,.08.24,1.54,1.54,0,0,0,1,.69,1.56,1.56,0,0,0,1.13-.55L2.44,21,20,4.21l0,0,.08.07,5.31,5.1L37.79,21.26a1.53,1.53,0,0,0,1,.51H39a1.41,1.41,0,0,0,1-.81.39.39,0,0,0,.05-.19V20.3A.39.39,0,0,0,39.91,20.06Z"
          transform="translate(0 -1)"/>
    <path d="M26.55,6.16h4.5v.09q0,.62,0,1.25c0,1,0,2.07,0,3.1a1.36,1.36,0,0,0,.43,1,1.14,1.14,0,0,0,.76.28h.16a1.23,1.23,0,0,0,1.06-1.32c0-.71,0-1.44,0-2.14q0-.43,0-.86V4.18a.38.38,0,0,0-.33-.38h-.08l-.17,0H26.57a1.3,1.3,0,0,0-.37.05,1.18,1.18,0,0,0-.84,1.3A1.15,1.15,0,0,0,26.55,6.16Z"
          transform="translate(0 -1)"/>
</svg>
