<svg class="wlc-svg-icon wlc-svg-icon_gp-clean" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 75.000001 75.000001">
    <g transform="translate(-18.065457,-21.032168)">
        <path
                d="m 19.531,58.608 c -0.453,-11.927 9.994,-22.949 21.933,-23.092 6.085,-0.519 12.005,1.844 16.61,5.698 -1.889,2.077 -3.811,4.13 -5.864,6.052 -4.054,-2.463 -8.935,-4.34 -13.673,-2.673 -7.642,2.176 -12.27,11.199 -9.442,18.675 2.342,7.808 11.839,12.093 19.282,8.813 3.854,-1.38 6.395,-4.936 7.51,-8.757 -4.417,-0.088 -8.835,-0.033 -13.252,-0.155 -0.011,-2.628 -0.022,-5.246 -0.011,-7.874 7.366,-0.011 14.743,-0.033 22.12,0.033 0.453,6.439 -0.497,13.33 -4.683,18.498 -5.732,7.377 -16.322,9.542 -24.937,6.648 C 25.981,77.471 19.332,68.26 19.531,58.608 Z"/>
        <path
                d="m 79.102,48.668 c 2.187,0 4.373,0 6.57,0 0.012,2.198 0.033,4.407 0.045,6.604 2.197,0.022 4.406,0.033 6.604,0.044 0,2.198 0,4.384 0,6.582 -2.197,0.011 -4.406,0.022 -6.604,0.033 -0.022,2.209 -0.033,4.406 -0.045,6.615 -2.197,-0.011 -4.396,0 -6.582,0 -0.021,-2.209 -0.021,-4.406 -0.044,-6.604 -2.197,-0.023 -4.406,-0.033 -6.604,-0.045 0,-2.198 0,-4.384 0,-6.582 2.198,-0.011 4.396,-0.022 6.604,-0.044 0.011,-2.196 0.033,-4.405 0.056,-6.603 z"/>
    </g>
</svg>

