<div class="wlc-svg-icon">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.08 29.08"
         width="29.08"
         height="29.08">
        <path d="M 0.94352313,0.94473592 28.155921,28.157134"/>
        <path d="M 28.129662,0.94249408 0.94267418,28.129481"/>
    </svg>
</div>
