<svg data-name="menu-icon"
     xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 30 21"
     width="20px" height="21px"
>
    <title>menu-icon</title>
    <rect class="cls-1" width="30" height="3" rx="1" ry="1"/>
    <rect class="cls-1" y="18" width="30" height="3" rx="1" ry="1"/>
    <rect class="cls-1" y="9" width="30" height="3" rx="1" ry="1"/>
</svg>

