<div class="wlc-svg-block">
    <svg data-name="Layer 1"
         xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 180 45"
         width="180px"
         height="45px"
    ><title>microgaming</title>
        <path d="M24.3,0l2.13.39A22.41,22.41,0,0,1,44.08,18.08a22.24,22.24,0,0,1-5.34,19.53,21.57,21.57,0,0,1-13.57,7.22,4,4,0,0,0-.58.17h-4.7a3.91,3.91,0,0,0-.57-.17A22.15,22.15,0,0,1,4,35.35a.72.72,0,0,1,0-.95c3.5-5.53,6.82-11.17,9.85-17,.07-.13.15-.25.22-.38a2.05,2.05,0,0,1,.08.68A70.23,70.23,0,0,0,14.78,29a15.89,15.89,0,0,0,1.69,5.49c1.62,2.84,4.58,3.42,7.08,1.34a13,13,0,0,0,1.92-2A54.9,54.9,0,0,0,31,24.45c.52-1,1-2.11,1.51-3.15.64,1.3,1.23,2.61,1.9,3.87a17.45,17.45,0,0,0,3.8,5c.26.23.53.36.82.09s.2-.56,0-.84A15.69,15.69,0,0,1,36.64,25a37.27,37.27,0,0,1-1.93-9.42A2,2,0,0,0,33.9,14a2,2,0,0,0-3.06,1c-1.65,3.55-3.28,7.11-5,10.61a27.16,27.16,0,0,1-4.21,6.48c-1.13,1.22-1.32,1.24-2-.37a20,20,0,0,1-1.19-5.89,79.33,79.33,0,0,1-.23-10.73c.09-2.24.27-4.48.41-6.72,0-.58.09-1.15.09-1.73a2.06,2.06,0,0,0-1.51-2,2,2,0,0,0-2.35,1.15c-.74,1.49-1.44,3-2.22,4.46a186.27,186.27,0,0,1-10,16.33C2.11,27.37,1.58,28.15,1,29a5.28,5.28,0,0,1-.18-.55C.59,27.33.37,26.2.15,25.07A4.58,4.58,0,0,0,0,24.58V20.42A2.28,2.28,0,0,0,.14,20a21.11,21.11,0,0,1,1.34-5.51C4.6,6.8,10.16,2.08,18.2.38c.66-.14,1.32-.25,2-.38Z"
              transform="translate(0 0)"/>
        <path d="M180,31.62a2.65,2.65,0,0,0-.19.47A3.34,3.34,0,0,1,176.92,35a18.69,18.69,0,0,1-5.68-.11l.19-1.27c.8,0,1.59.11,2.38.1a18.79,18.79,0,0,0,2.43-.18,1.7,1.7,0,0,0,1.48-1.4c.18-.85.22-1.72.34-2.72-.29.14-.45.2-.6.28a7,7,0,0,1-5.31.67A2.91,2.91,0,0,1,169.87,28a27.7,27.7,0,0,1-.34-4.28,16.83,16.83,0,0,1,.32-3.29,3.14,3.14,0,0,1,2.54-2.58,6.63,6.63,0,0,1,5.14.8l.55.31a.48.48,0,0,0,.14,0l.19-1.06H180Zm-2-7.4h0c0-1.2,0-2.41,0-3.61a.64.64,0,0,0-.17-.47,5.12,5.12,0,0,0-4.35-.92,2,2,0,0,0-1.54,1.5,10.73,10.73,0,0,0-.32,2.39,37.44,37.44,0,0,0,.22,4.28,2.1,2.1,0,0,0,1.93,1.82,5.7,5.7,0,0,0,3.89-.81.6.6,0,0,0,.36-.62C178,26.59,178,25.4,178,24.22Z"
              transform="translate(0 0)"/>
        <path d="M65.69,30.64H63.75c0-.23,0-.44,0-.65q0-6.71,0-13.43a1.69,1.69,0,0,0,0-.35c0-.17-.1-.34-.16-.51a1.69,1.69,0,0,0-.31.42c-.33,1-.63,1.94-.94,2.91C61.16,22.76,60,26.47,58.83,30.2c-.15.5-.43.46-.79.48a.58.58,0,0,1-.71-.47q-2.19-7-4.42-14a2.64,2.64,0,0,0-.31-.52l-.18.08V30.64H50.49V14.1c1.1,0,2.19,0,3.27,0,.11,0,.26.25.31.42q1.39,4.37,2.76,8.75l1.23,3.89c.16-.48.29-.83.4-1.19,1.19-3.77,2.38-7.53,3.55-11.3.14-.45.32-.63.8-.61.94,0,1.89,0,2.87,0Z"
              transform="translate(0 0)"/>
        <path d="M149.52,30.63h-2.06V30.1c0-2.54,0-5.09,0-7.63a10.56,10.56,0,0,0-.25-2A1.62,1.62,0,0,0,146,19.26a4.79,4.79,0,0,0-4.3.84.42.42,0,0,0-.11.33c.06.79.18,1.57.19,2.36,0,2.51,0,5,0,7.53,0,.08,0,.16,0,.29H140V30c0-2.56,0-5.12,0-7.68a9,9,0,0,0-.16-1.62,1.86,1.86,0,0,0-1.48-1.53,4.74,4.74,0,0,0-4,.85.76.76,0,0,0-.19.55c0,3.14,0,6.28,0,9.41,0,.19,0,.39,0,.61h-2V17.92c.47,0,.92,0,1.38,0,.1,0,.22.16.26.27a6,6,0,0,1,.15.75c2.48-1.42,4.92-2.08,7.39,0,.52-.27,1.11-.6,1.73-.88a6.14,6.14,0,0,1,4.08-.23,2.75,2.75,0,0,1,2.17,2.35,14.11,14.11,0,0,1,.21,2.26C149.54,25.18,149.52,27.87,149.52,30.63Z"
              transform="translate(0 0)"/>
        <path d="M107.8,34.87l.2-1.23c.81,0,1.61.11,2.4.1a16.76,16.76,0,0,0,2.29-.15A1.86,1.86,0,0,0,114.35,32c.13-.78.17-1.57.27-2.48l-.61.29a7.21,7.21,0,0,1-4.15.86c-2.13-.19-3.28-1.14-3.59-3.29a21,21,0,0,1,.05-6.51,3.44,3.44,0,0,1,3.25-3.09,6.94,6.94,0,0,1,4.73,1l.47.27L115,18h1.59a1,1,0,0,1,0,.19c0,4.11,0,8.22,0,12.34a9.57,9.57,0,0,1-.36,2.24,3,3,0,0,1-2.13,2.19A16.22,16.22,0,0,1,107.8,34.87Zm6.76-10.68c0-1.19,0-2.38,0-3.57a.68.68,0,0,0-.19-.5,5.54,5.54,0,0,0-2.66-1c-2-.11-3,.51-3.32,2.07a18.11,18.11,0,0,0,0,6.16,2.18,2.18,0,0,0,1.9,1.87,5.65,5.65,0,0,0,3.9-.78.62.62,0,0,0,.39-.64C114.54,26.57,114.56,25.38,114.56,24.19Z"
              transform="translate(0 0)"/>
        <path d="M127.72,19l.2-1h1.59V30.61h-1.6l-.19-1.1c-.22.13-.42.23-.6.34a6.62,6.62,0,0,1-4.64,1,3.47,3.47,0,0,1-3.27-3.41,21.68,21.68,0,0,1,0-6.51,3.48,3.48,0,0,1,3.31-3.15,7,7,0,0,1,4.6.94Zm-.23,5.31q0-.94,0-1.88c0-.63,0-1.25,0-1.88,0-.17-.1-.43-.22-.48a10,10,0,0,0-2.65-.94c-2.34-.21-3.25.72-3.41,2.73a34.67,34.67,0,0,0-.08,3.66,11.18,11.18,0,0,0,.28,2.25,2.11,2.11,0,0,0,1.67,1.62,5.18,5.18,0,0,0,4.1-.83.59.59,0,0,0,.32-.59C127.49,26.72,127.49,25.5,127.49,24.28Z"
              transform="translate(0 0)"/>
        <path d="M104.22,24.49c-.08.82-.12,1.85-.28,2.85a3.74,3.74,0,0,1-3.13,3.3,10.13,10.13,0,0,1-4.18,0,3.82,3.82,0,0,1-3.27-3.45,18.86,18.86,0,0,1,0-6.06,3.79,3.79,0,0,1,3.27-3.29,10.06,10.06,0,0,1,4,0A4,4,0,0,1,104,21.72C104.14,22.57,104.16,23.43,104.22,24.49Zm-2.07,0c-.06-1-.08-1.87-.15-2.69-.14-1.61-.87-2.5-2.26-2.67a9.1,9.1,0,0,0-2.14,0,2.26,2.26,0,0,0-2.15,2,19.11,19.11,0,0,0,0,6.16,2.23,2.23,0,0,0,2,2,9.17,9.17,0,0,0,2.33,0,2.24,2.24,0,0,0,2.1-2.13C102.06,26.28,102.09,25.28,102.16,24.51Z"
              transform="translate(0 0)"/>
        <path d="M156.85,30.61V17.95h1.59l.19,1c.54-.26,1-.52,1.56-.75a7,7,0,0,1,4.88-.25,2.65,2.65,0,0,1,2,2,10.85,10.85,0,0,1,.28,2.3c0,2.66,0,5.32,0,8a3.36,3.36,0,0,1,0,.35h-2V30c0-2.53,0-5.05,0-7.58a10.24,10.24,0,0,0-.15-1.57,2,2,0,0,0-1.59-1.67,5.62,5.62,0,0,0-4.44.83.73.73,0,0,0-.2.54c0,3.15,0,6.31,0,9.46,0,.18,0,.36,0,.57Z"
              transform="translate(0 0)"/>
        <path d="M81.44,26.49h1.85a3.56,3.56,0,0,1-2.69,4.11,9.27,9.27,0,0,1-4.6,0,3.71,3.71,0,0,1-2.88-3.25,18.94,18.94,0,0,1,0-6.06,3.82,3.82,0,0,1,3.4-3.44,9.39,9.39,0,0,1,4.12.11,3.37,3.37,0,0,1,2.67,3.2c0,.28,0,.55.07.88H81.45l-.1-.8a2.08,2.08,0,0,0-1.9-2.06,8,8,0,0,0-2.24,0,2.26,2.26,0,0,0-2.05,2.13,19.58,19.58,0,0,0,0,5.92,2.38,2.38,0,0,0,2.46,2.22,8.07,8.07,0,0,0,1.85-.06,2.09,2.09,0,0,0,1.89-2.07C81.38,27,81.41,26.78,81.44,26.49Z"
              transform="translate(0 0)"/>
        <path d="M92.5,17.79l-.14,1.43H91.22a6,6,0,0,0-3.46,1.33c-.13.08-.18.37-.18.56,0,3,0,5.94,0,8.91,0,.19,0,.39,0,.62h-2V17.91c.47,0,.94,0,1.4,0,.09,0,.21.18.24.29.08.3.11.6.18,1A6.44,6.44,0,0,1,92.5,17.79Z"
              transform="translate(0 0)"/>
        <path d="M70.69,30.63H68.64V17.95h2.05Z" transform="translate(0 0)"/>
        <path d="M152.23,17.94h2V30.62h-2Z" transform="translate(0 0)"/>
        <path d="M70.71,14.14v2.09H68.63V14.14Z" transform="translate(0 0)"/>
        <path d="M152.17,16.23V14.16h2.05v2.07Z" transform="translate(0 0)"/>
    </svg>
</div>
