<div class="wlc-svg-block">
    <svg data-name="Layer 1"
         xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 168 62"
         width="162px"
         height="60px"
    ><title>netent</title>
        <path d="M0,13l1.75,0c1.5,0,3,0,4.49,0a.56.56,0,0,1,.54.3C11.43,20.45,16.07,27.65,20.55,35l.19.29V13h7.35V49.43H21.81a.53.53,0,0,1-.52-.28L7.56,27.47a.81.81,0,0,0-.26-.28V49.43H0Z"
              transform="translate(0 0)"/>
        <path d="M133.45,13h7.34V49.41l-.29,0h-6a.45.45,0,0,1-.44-.24L120.26,27.49,120,27.1V49.41h-7.29V13h6.22a.56.56,0,0,1,.54.3c4.64,7.18,9.27,14.36,13.74,21.64a.72.72,0,0,0,.24.26Z"
              transform="translate(0 0)"/>
        <path d="M32,13H56v7H39.29V27.6H53.57v7H39.3V42.5H56v6.91H32Z" transform="translate(0 0)"/>
        <path d="M92.33,34.59v7.9H109v6.92H90V62H88.63V0l.22,0h1.09V13H109v7H92.33V27.6h14.29v7Z"
              transform="translate(0 0)"/>
        <path d="M152.32,20h-8.41V13H168v7h-8.33V49.41h-7.35Z" transform="translate(0 0)"/>
        <path d="M67.76,49.41V20h-8.4V13h24.1v7H75.13V49.41Z" transform="translate(0 0)"/>
    </svg>
</div>
