<div class="wlc-svg-block">
    <svg data-name="Pariplay" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1999.7 647.49" width="180px" height="58px">
        <path d="M947.9,30.5c-17.4,0-32.6,15.2-32.6,32.5s14.8,31.6,32.8,31.6S980,80.8,980,62.8A32.12,32.12,0,0,0,947.9,30.5Z" transform="translate(0 1.29)"/>
        <path d="M324.9,291.3c-7.7-38.7-27.6-70.5-58.7-94.8-40-31.2-85.4-41.8-135-32-40.1,7.9-72.7,28.8-97.7,61.2A156.68,156.68,0,0,0,1.8,300.5L0,313.7V618.8a57,57,0,0,0,1.6,5.5c4.2,11.7,12.5,18.6,24.5,21.3.7.2,1.3.4,2,.6h9.2a3.51,3.51,0,0,1,.8-.5c17.1-3.8,26.7-15.7,26.7-33.1V453.9a6.89,6.89,0,0,0,.7.1c.8.5,1.5,1,2.3,1.6,38.2,26.7,80.4,36.1,126.1,28.1,41.3-7.3,75.2-27.7,100.7-61C324.4,383.6,334.4,339.4,324.9,291.3Zm-160.8,131c-54.9,0-99.4-44-99.5-98.2,0-54.7,44.4-98.9,99.4-98.9,54.6,0,99.6,44.4,99.6,98.6S219,422.3,164.1,422.3Z" transform="translate(0 1.29)"/>
        <path d="M671.8,285.1c-9-38.4-28.4-70.3-60.2-93.8-39.2-29-83.4-37.4-130.8-27.7-88,18-145.6,102.8-127,193.4,11.8,57.4,47.2,95.8,101.8,116.5,23.6,9,48.2,11.6,73.4,10,18.9-1.3,37.1-5.2,54.3-13.3A143.56,143.56,0,0,0,612,451.9c.3,2.1.5,3.9.9,5.6,2.5,13.6,17.2,26.4,30.4,26.5,19.1.2,33-13.5,33-32.6v-126A187.14,187.14,0,0,0,671.8,285.1ZM539.2,417.6c-48.8,11.8-101.7-13.6-118.9-60.9-12.6-34.7-5.8-66.6,16.8-95.2C453,241.4,474,229,499.4,224.7c40-6.7,78.1,11.7,98.6,46.9,9.4,16.3,14,33.8,14.1,48.8C612,369.7,583.2,407,539.2,417.6Z" transform="translate(0 1.29)"/>
        <path d="M863.3,159.3a168.34,168.34,0,0,0-42.4,5.5A162.69,162.69,0,0,0,699.4,321.9V452.1c0,16.9,14.6,31.5,31.5,31.7A32.33,32.33,0,0,0,764,451c0-43.4-.1-86.8.1-130.2a89.15,89.15,0,0,1,2.1-19.3c10.1-46.1,49.9-78,97-78.2,18.3-.1,32.7-14.3,32.8-32.2S881.7,159.3,863.3,159.3Z" transform="translate(0 1.29)"/>
        <path d="M980,191.6a46,46,0,0,0-.5-6.4c-2.7-16.2-17.9-27.4-34.9-25.9-16.3,1.4-29.2,15.2-29.2,31.3V452a31.5,31.5,0,0,0,1,7.5c3.8,15.8,18.7,26,35.1,24.2,16.7-1.9,28.5-15.5,28.5-32.2V191.6Z" transform="translate(0 1.29)"/>
        <path d="M1339.7,291.3c-7.7-38.7-27.6-70.5-58.7-94.8-40-31.2-85.4-41.8-135-32-40.1,7.9-72.7,28.8-97.7,61.2a156.68,156.68,0,0,0-31.7,74.8l-1.8,13.2V618.8a57,57,0,0,0,1.6,5.5c4.2,11.7,12.5,18.6,24.5,21.3l2,.6h9.2a2.18,2.18,0,0,1,.8-.5c17.1-3.8,26.7-15.7,26.7-33.1V453.9a6.89,6.89,0,0,0,.7.1c.8.5,1.5,1,2.3,1.6,38.2,26.7,80.4,36.1,126.1,28.1,41.3-7.3,75.2-27.7,100.7-61C1339.2,383.6,1349.3,339.4,1339.7,291.3Zm-160.8,131c-54.9,0-99.4-44-99.5-98.2,0-54.7,44.4-98.9,99.3-98.9,54.7,0,99.6,44.4,99.6,98.6S1233.8,422.3,1178.9,422.3Z" transform="translate(0 1.29)"/>
        <path d="M1431,30.2a31.5,31.5,0,0,0-1-7.5c-4-15.5-19.3-25.9-34.8-23.7-17.1,2.4-28.8,15.3-28.8,31.9V450.7a50.35,50.35,0,0,0,.5,6.7c2.7,16.4,17.6,27.9,34.7,26.6,16.3-1.2,29.3-15.3,29.3-31.8Q1431.2,241,1431,30.2Z" transform="translate(0 1.29)"/>
        <path d="M1483.5,160c1.6-1,3.3-2,5-2.9C1486.8,158,1485.2,159,1483.5,160Z" transform="translate(0 1.29)"/>
        <path d="M1632.2,313.1V313c.1.4.2.9.3,1.3A2.38,2.38,0,0,0,1632.2,313.1Z" transform="translate(0 1.29)"/>
        <path d="M1967.1,159.5c-17.5,0-32.2,14.3-32.2,31.8V352.2c0,37-30.3,66.8-67.3,66.8-36.3,0-67.3-29.8-67.3-66.8V191.3a31.5,31.5,0,1,0-63,0v73.1c15.2,10.9,25.5,33.2,25.5,59,0,24-9.4,45.1-23.1,56.7,12.8,58.6,65.6,102.6,127.8,102.6a130,130,0,0,0,67.2-18.2v46.7c0,38.3-31.6,69.4-70.6,69.4a71.07,71.07,0,0,1-63.2-38.9c-7.1-15.6-26.7-22.7-42.3-14.9-16.2,7.8-22.8,27.3-15,42.8a134.84,134.84,0,0,0,120.9,75.2c74,0,135.2-60.3,135.2-133.6V191.3C2000,173.8,1985.3,159.5,1967.1,159.5Z" transform="translate(0 1.29)"/>
        <path d="M1717.6,373.2a61,61,0,0,0,5.9-5.4A61,61,0,0,1,1717.6,373.2Z" transform="translate(0 1.29)"/>
        <path d="M1712.3,263.5,1557.7,160.9c-1.4-.9-2.8-1.8-4.3-2.6-26.3-14.7-60.3-9.8-81.6,11.2l-1.1,1.1-.4.4c-11.5,11.5-17.5,27.3-18.4,43.4-.1,1.1-.1,2.2-.1,3.3v36.8a33.9,33.9,0,1,0,67.8,0,12.82,12.82,0,0,1,20-10.6c.3.2.5.3.8.5l41.1,27.3c15.5,10.2,48.4,24.5,51.5,44.6a27,27,0,0,1-10.4,25.5c-.4.3-.8.5-1.2.8l-66.2,43.9a9.22,9.22,0,0,1-.8.5l-.9.6-13.9,9.2a12.85,12.85,0,0,1-19.9-10.7v-.7a33.9,33.9,0,1,0-67.8,0V423c0,54.4,60.6,86.9,105.9,56.8,29.3-19.4,58.6-39,87.9-58.3,26.2-17.3,55.1-32,78-53.8a.1.1,0,0,1,.1-.1C1752.5,338,1748.7,287.7,1712.3,263.5Z" transform="translate(0 1.29)"/>
    </svg>

</div>
