<div class="wlc-svg-block">
    <svg data-name="Layout 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 122.5" width="180px" height="37px">
        <path d="M63.2,30.9l9,.1V79.3h50.1l-.1,8.7H63.3Zm124,.3h10.6l21.1,25.7,21-25.7h10.7L223.3,66.8V88.1h-8.8V66.7Zm64,8.1c0-4.8,5.1-8.2,10.1-8.3,11.8,0,39.3-.2,41.2.3a10.76,10.76,0,0,1,7.5,7.8,27.44,27.44,0,0,1,.2,5.4H301V40.4c0-.8-1.2-.9-2-.9H262a1.89,1.89,0,0,0-2,2V53a2,2,0,0,0,2,2.1h38.6a10.4,10.4,0,0,1,9.6,10.1V77.8a10.64,10.64,0,0,1-6.5,9.2c-2.1.9-30.2.9-42.1.9a10.75,10.75,0,0,1-9.7-6.4c-1-2.3-.9-7.4-.9-7.4h9s-.6,3.9,1.1,5.1h38.3c.9,0,1.9-.8,1.8-1.7V67.6c0-1.2.2-2.5-.6-3.5a9.86,9.86,0,0,0-2.4-.3H261.5c-4.9,0-10.3-2.9-10.3-8.3C251.3,53.1,251.2,39.3,251.2,39.3ZM380.1,31h10.8l39.2,45.3V31l9.1.1-.2,57H428.7L389,42.7l-.1,45.4h-8.8ZM59,41c-.1-5.4-5.2-9.8-10.4-9.8H0V88H8.7l.2-20.6,39.2.1c5.6,0,10.8-4.3,10.8-9.9ZM50.1,57.3A1.8,1.8,0,0,1,48.2,59h-38A1.56,1.56,0,0,1,9,57.3V41.2c0-1.1,1.2-1.5,2.2-1.5H48.3a1.81,1.81,0,0,1,1.8,1.9Zm136.1-16c0-5.5-3.9-10.3-7.6-10.3H137.3c-5.3.1-10.1,4.6-10.1,9.9v47H136V68.1h41.2V83.7l.2,4.3H186l.1-11.2c.1,0,0-23.7.1-35.5Zm-9,18.1H136V41.7a1.77,1.77,0,0,1,1.9-2h37.5a1.79,1.79,0,0,1,1.8,2ZM374.5,75.7c0-7.3-.1-31.5-.1-36.4,0-4.5-5.3-8.2-10.1-8.3H325.7c-4.5,0-10.4,5.5-10.4,9.4V77.9c.1,5.4,5.1,9.9,10.4,10.1h38.1a10.7,10.7,0,0,0,9.9-7c.9-1.7.8-3.5.8-5.3Zm-10,3.6h-39c-.7,0-1.2-.9-1.1-1.7V40.8c.2-.7,0-1.5,2.3-1.5h36.8c1.1,0,2,.4,2,1.5V77.7C365.6,78.5,365.3,79.3,364.5,79.3Z"/>
        <path d="M466.5,0l44.9,20.4L466.5,41Z"/>
        <path d="M511.4,20.4l44.8,20.4L511.4,61.2V20.4Z"/>
        <path d="M466.5,41l44.9,20.3L466.5,81.6Z"/>
        <path d="M600,61.1,556.1,81.8V40.9Z"/>
        <path d="M556.1,81.8l-44.8,20.4V61.3Z"/>
        <path d="M511.4,102.2l-44.9,20.3V81.7Z"/>
    </svg>

</div>
