<svg data-name="profile-icon"
     xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 40 40"
     width="40px" height="40px"
>
    <title>profile-icon</title>
    <path d="M40,36.61a9.08,9.08,0,0,1-.48,1.4,3.66,3.66,0,0,1-3.3,2H4a3.92,3.92,0,0,1-2.65-.92A3.6,3.6,0,0,1,0,36.22a11.27,11.27,0,0,1,8.85-11A14.11,14.11,0,0,1,11.23,25a1.17,1.17,0,0,1,1.24,1.15,1.2,1.2,0,0,1-1.15,1.31A18.86,18.86,0,0,0,9,27.8,8.4,8.4,0,0,0,4.28,31a8.91,8.91,0,0,0-1.8,5A1.41,1.41,0,0,0,4,37.52c6.34,0,12.68,0,19,0H36a1.32,1.32,0,0,0,1.29-.65,1.35,1.35,0,0,0,.17-.63,8.58,8.58,0,0,0-2.95-6.51A8.68,8.68,0,0,0,29,27.49a2.18,2.18,0,0,1-1-.26,1.17,1.17,0,0,1-.43-1.42A1.21,1.21,0,0,1,28.8,25a11.46,11.46,0,0,1,3.3.51,11.26,11.26,0,0,1,7.84,9.66c0,.09,0,.19.05.28Z"
          transform="translate(0)"/>
    <path d="M20.63,0c.63.12,1.26.2,1.87.37a10.77,10.77,0,0,1,5.69,4,14.43,14.43,0,0,1,2.55,5.35,16.38,16.38,0,0,1,.16,7.34A14.48,14.48,0,0,1,28,23.38a10.34,10.34,0,0,1-6.74,4,9.21,9.21,0,0,1-6.11-1.26,12.25,12.25,0,0,1-4.77-5.3,16,16,0,0,1-1.47-9.38,15.19,15.19,0,0,1,1.62-5.15A12.63,12.63,0,0,1,14.13,2a9.89,9.89,0,0,1,5-2,.47.47,0,0,0,.12,0Zm8.11,13.44A13.1,13.1,0,0,0,27,7.11a9.1,9.1,0,0,0-4.27-4,6.72,6.72,0,0,0-5.46,0,9.2,9.2,0,0,0-4.58,4.44,12.51,12.51,0,0,0-1.39,4.62,13.15,13.15,0,0,0,2.31,9.35,8.28,8.28,0,0,0,4.19,3.18,6.82,6.82,0,0,0,5.59-.54A9.45,9.45,0,0,0,27.27,20,13.81,13.81,0,0,0,28.75,13.44Z"
          transform="translate(0)"/>
</svg>
