<div class="wlc-svg-block">
    <svg data-name="Layout 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 255.2" width="141px" height="60px">
        <path d="M249.4,163.5H231.3V74.2c0-6.4-3.7-11.5-9.4-12.9a12.52,12.52,0,0,0-15.4,12c-.1,4.7,0,9.4,0,14.2v75.9H188.6v-89c0-6.5-3.6-11.5-9.3-13a12.6,12.6,0,0,0-15.6,12.1c-.1,7.1,0,14.3,0,21.4v68.6H145.9a20.08,20.08,0,0,1-.1-2.5c0-28.9-.1-57.8,0-86.7,0-15.9,10.1-28.1,25.4-30.8a29.08,29.08,0,0,1,24,6.2c.7.6,1.4,1.2,2.2,1.8.1.1.2.1.5.1a29.48,29.48,0,0,1,15.9-8c17.6-3.3,34.6,9.9,35.6,27.8.1,2.6.1,5.2.1,7.7l-.1,84.4Z"/>
        <path d="M295.7,0h17.9V47c1-.4,1.7-.7,2.3-1,22-9.7,47.2,6.1,47.5,30.1.4,28.5.1,57.1.1,85.6,0,.5-.1,1-.1,1.6h-18V78.1c0-8-4.2-14.1-11.1-16.3A16,16,0,0,0,313.5,77c-.1,9.6,0,19.1,0,28.6v57.7H295.6V0Z"/>
        <path d="M447.2,73.5c-1.2-19-20.2-33.3-39-30-17.1,3.1-28.5,16.5-28.6,33.9-.1,18.1-.1,36.3,0,54.4a40.2,40.2,0,0,0,.6,6.9c2.9,16.3,18.3,28.2,35.3,27.3,16.5-.9,30.8-14.2,31.7-30.5.6-10.3.1-20.8.1-31.2C447.3,94.1,447.9,83.7,447.2,73.5Zm-17.8,57.6c0,8.3-4.3,14.4-11.4,16.5a15.92,15.92,0,0,1-20.3-15c-.1-9.4,0-18.7,0-28.1,0-9.2-.1-18.4,0-27.5a16.1,16.1,0,0,1,14.5-15.8c7.4-.9,14.8,4.3,16.7,12a21.54,21.54,0,0,1,.5,5.1C429.5,95.8,429.5,113.5,429.4,131.1Z"/>
        <path d="M128.9,75.3c-.4-19.9-19.7-35.4-39.3-31.8C72.6,46.6,61.3,60,61.1,77.3c-.1,9.1,0,18.1,0,27.1,0,8.8-.1,17.7,0,26.5a40.78,40.78,0,0,0,.8,8.5c3.3,16.3,19.2,28,35.9,26.5,17.2-1.5,30.9-15.4,31.2-32.4C129.2,114.1,129.2,94.7,128.9,75.3Zm-18,57c-.1,8.2-6.1,15-13.9,15.7a16,16,0,0,1-17.4-12.4,21.19,21.19,0,0,1-.4-4.4c0-17.8-.1-35.6,0-53.4.1-8.6,5.4-15.3,13.3-16.6a15.75,15.75,0,0,1,18.4,15.1c.2,9.4.1,18.9.1,28.3S111.1,123.1,110.9,132.3Z"/>
        <path d="M550.4,163.5H532.5a16.46,16.46,0,0,1-.2-2.1c0-28.2-.1-56.4,0-84.6.1-17.3,13.2-31.9,30-33.5,17.8-1.7,33.2,9.4,36.9,26.6a34.82,34.82,0,0,1,.7,6.4q.15,42.75.1,85.3v1.7H582.1v-3.2c0-27.1.1-54.4-.1-81.5a22.51,22.51,0,0,0-1.6-8.5,15.69,15.69,0,0,0-30,6.3c-.1,16.7-.1,33.3-.1,50l.1,37.1Z"/>
        <path d="M49.1,67.5H18.3a16.46,16.46,0,0,0-.2,2.1c0,20.8-.1,41.6,0,62.4.1,9.8,8,17.1,17.5,15.9,2.3-.2,4.5-1.1,7-1.7,1.1,2.6,2.2,5.3,3.2,7.9s2.2,5.4,3.4,8.3c-6.1,2.8-12.3,4.2-18.7,3.4C12.2,163.5,0,149.6,0,131.2V22.4H18V49.8H49.2Z"/>
        <path d="M481.7,163.5H464a18.48,18.48,0,0,1-.1-2.3c0-27.9-.1-55.9,0-83.8.1-17.4,11.4-30.8,28.3-33.9,13.8-2.5,28.3,4.9,35.6,18.3-5,2.9-10,5.9-15.1,8.9-.9-1.1-1.7-2.3-2.6-3.4-4.8-5.8-11.2-7.9-17.7-5.6a16.15,16.15,0,0,0-10.8,15.4c-.1,13.5,0,27,0,40.5V160c.1,1.1.1,2.1.1,3.5Z"/>
        <path d="M274.4,226.5v27.9H270V210.2c4.4-.9,4.5-.9,5.9,3.2,2,5.8,3.9,11.5,5.9,17.3.3.9.7,1.7,1.3,3.1,1.8-5.1,3.4-9.7,5-14.3.7-1.9,1.4-3.9,2-5.8,1.4-4,1.4-4,5.9-3.7v44.3h-4.3V226.4l-.5-.2a5.39,5.39,0,0,0-.7,1.3c-1.8,5.1-3.5,10.2-5.4,15.3a3.49,3.49,0,0,1-2.2,1.9c-.5.1-1.6-1.1-1.9-1.9-1.7-4.7-3.3-9.4-4.9-14.1a26,26,0,0,0-1-2.5.91.91,0,0,1-.7.3Z"/>
        <path d="M355.7,210.2c4.4-.7,4.4-.7,5.9,3.1l8.7,23.7a3.57,3.57,0,0,0,1.1,1.7V210.1h4.9v44.1c-4,1.1-4.5.9-5.8-2.8L361.9,228a3.24,3.24,0,0,0-1.4-2v28.5h-4.8V210.2Z"/>
        <path d="M243.9,218.4c-.1-4.3-2.9-7.1-7-8.4a10.15,10.15,0,0,0-13.5,9.5c-.2,11.2-.1,22.3-.1,33.5a5.77,5.77,0,0,0,.3,1.4H228c0-4,.1-7.7-.1-11.5-.1-2.2.7-2.7,2.6-2.6a32.46,32.46,0,0,0,5.4,0c2.5-.2,3.5.5,3.4,3.2-.2,3.6-.1,7.1-.1,10.9h4.6C244,242.3,244.1,230.3,243.9,218.4Zm-4.7,17.2h-11c0-5.6-.2-11.2.1-16.8.2-2.8,2.9-4.6,5.7-4.5a5.3,5.3,0,0,1,5.2,4.8C239.4,224.4,239.2,229.8,239.2,235.6Z"/>
        <path d="M422.3,234.3c0,4.6.5,8.9-.1,13.1-.7,4.9-6,8.2-11,7.7a10.05,10.05,0,0,1-9.3-9.7c-.1-8.6-.1-17.4,0-26a10.19,10.19,0,0,1,8.5-9.9c5-.8,9.5,1.7,11.5,6.8-1.3.6-2.6,1.1-4,1.7a2.65,2.65,0,0,0-.6-.5c-2.2-2.9-4.3-3.8-7-2.9-2.5.8-3.8,3-3.8,6.4v22.7c0,4.2,2.2,6.8,5.8,6.7s5.6-2.6,5.6-6.8v-4.1H410c-.1-.9-.1-1.5-.2-2-.4-2.2.4-3.1,2.8-2.9,3.3-.1,6.5-.3,9.7-.3Z"/>
        <path d="M193.5,239.3h-7.6a3.08,3.08,0,0,1-.4-.9c-.3-4.1-.3-4.1,3.8-4.1,2.6,0,5.3.1,8,.1.2,0,.3.1,1.1.4-.2,4.3.1,8.8-.8,13.2-1,4.9-6.3,7.8-11.1,7.1a10,10,0,0,1-8.9-10c-.1-8.3-.1-16.7,0-25,.1-5.4,3.2-9.4,8.1-10.5s9.5,1.4,12,6.7l-4.1,1.8c-.4-.5-.7-1.1-1.1-1.5a5.61,5.61,0,0,0-10.1,2.9q-.15,12.75,0,25.5a5.46,5.46,0,0,0,5.6,5.3,5.59,5.59,0,0,0,5.7-5.5c-.1-1.7-.2-3.4-.2-5.5Z"/>
        <polygon points="328.2 254.5 323.8 254.5 323.8 210.1 328.2 210.1 328.2 254.5"/>
    </svg>

</div>
