<div class="wlc-svg-block">
    <svg data-name="WorldMatch" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 850.3" width="141px" height="60px">
        <path d="M434.6,566.4V319.5c-62.5,84.2-123.3,166-183.7,247.4H1.5V5.4H248.2V246.9c.9.4,1.7.8,2.6,1.2C311.9,167.3,372.3,86.1,433.4,5h244V244.7c1,.4,2,.8,2.9,1.2,31-39.4,60.4-80.1,90.6-120.1C801.4,85.6,831.5,45.1,861.5,5h261.8C980.1,192.7,838,379.2,695.3,566.4Z" transform="translate(0 -4.8)"/>
        <path d="M1267.2,566.6V324.9c-.8-.4-1.7-.8-2.5-1.2-32,39.1-60.4,80.9-91.1,120.9-30.9,40.3-60.6,81.5-90.8,122.2H821q214.95-282,428.6-562h260.2c.2,40.5.1,81,.1,121.4,0,40.2,0,80.4,2,121.6q91-122,181.4-242.9h250.1V317.8c-60.9,81.8-123.1,165.3-185.4,248.9h-64c-.1-40.1,0-80.2,0-120.2,0-39.8,0-79.6-1.2-120-32.4,38.6-61.4,79.5-91.6,119.5s-59.7,80.3-89.5,120.5C1430.5,566.6,1349.3,566.6,1267.2,566.6Z" transform="translate(0 -4.8)"/>
        <path d="M1096.2,649.7c12.4,42.8,25.8,84.8,35.8,128.2,13.1-43.4,25.6-86.5,40.2-128.6h60.4c.6,1.3,11.8,192.8,11.8,201.4-15.4,0-30.3-.9-46-.5,0-14.1-4.8-106.9-4.8-142.7.1-1.5-.5-3.1-1.1-6.8-15.5,50.1-30.9,102.1-45.7,150.1-12.2,0-22-.4-35.8-.4-14.2-48.3-27.8-98.8-38.6-149.3-.9,2.8-1.7,4-1.6,5.1,0,27.6-4.4,124-5.3,143.7-16.3,0-23.6-.6-43.9-.6-1.7-2.9,10.6-176.5,10.7-199.4C1053.7,649.7,1074.2,649.7,1096.2,649.7Z" transform="translate(0 -4.8)"/>
        <path d="M50.4,649.4c8.5,47.6,17,94.6,25.5,141.7,10.8-47.2,19.8-94.4,30.5-141.7h49.5c9.2,46.2,18.6,92.5,26.3,139.6,9-46.2,17.6-92.4,27.6-139.2h47.6q-25.65,99.75-51.5,200.1H155.4c-10.1-44.5-17.4-89.7-26.8-134.6C119.4,760.4,108.5,804.9,99,850H47.7C31.8,783.3,16,716.8,0,649.4Z" transform="translate(0 -4.8)"/>
        <path d="M2000,315.6v251H1811.8c31.1-41.9,61.8-83.4,92.7-124.6C1935.6,400.4,1967,359.2,2000,315.6Z" transform="translate(0 -4.8)"/>
        <path d="M1943.6,849.7h-46.8V768.1h-71.7v81.5c-24.3,0-26.8.2-47.6.2V649.1c18.4,0,30.1-.2,46.8-.2v74.7H1896V649.4c19.4,0,29.2-.2,47.6-.2Z" transform="translate(0 -4.8)"/>
        <path d="M1740.4,807.8c4.3,18.6,7.4,24,10.5,35.8-8.6,7.9-22.8,10.3-32.9,10.9-22.4,1.3-44.9-.2-67-8.3-22.9-8.5-39.3-23.5-49.7-44.9-13.2-27.2-13.9-56.3-5.7-84.8,10.5-36.5,35.7-58.7,72.8-68a138.59,138.59,0,0,1,28.5-4.2c16-1,44,4.8,54.3,10.2-4.4,11.9-6.6,20.5-10.6,36.7-21.1-8.6-41.8-10.4-62.8-2.9-19.3,6.9-30.8,21.1-36,40.5-5.3,19.9-2.7,38.8,7.2,56.9,7.9,14.4,20.3,22.2,35.6,26.3C1703.6,817.2,1721.9,813.8,1740.4,807.8Z" transform="translate(0 -4.8)"/>
        <path d="M1431.1,649.4h153.5v36.9h-52.5c-.8,54.8,0,108.6-.5,163.2h-47.3V687.2H1431C1431.1,674.1,1431.1,662.5,1431.1,649.4Z" transform="translate(0 -4.8)"/>
        <path d="M714.5,649.5V809.3h77.1v40.2H667.5V649.6C682.7,649.5,697.6,649.5,714.5,649.5Z" transform="translate(0 -4.8)"/>
        <path d="M993.9,714.5c-5.2-22.5-18.1-39.2-37-51.4-19.8-12.8-42.8-14.7-65.5-16.7-20.2-1.8-68.7,4.7-73,6V849.7c10.8,1.1,20.5,2,29.9,2.6,30.2,1.8,60.1-.3,89.1-10.6,21.2-7.6,36.8-21.2,47-40.7C998.7,773.5,1000.8,744.5,993.9,714.5Zm-53.8,68.3c-11.5,19.9-28,31.4-51.5,31.9-7.2.1-14.4,0-22.2,0V686.1c17.9-7.6,35-2.8,51.2,3.6,18,7.1,26.8,23.3,29.1,41.3C948.9,748.4,949.5,766.4,940.1,782.8Z" transform="translate(0 -4.8)"/>
        <path d="M631.5,808.5c-5-19.6-8.6-40-26.6-52.6.2-.52.2-.74.13-.82,21.88-14.6,35-36.09,29.37-63.58-3.7-18.4-18.6-34.8-40-40a171.49,171.49,0,0,0-42.9-5.3c-13.8.1-51.2,4.5-59.6,6.5V849.4h44.9V772.8c13.9-1.1,26.6-2.8,36.2,9.4,4.7,5.9,7,12.6,8.3,19.6,3.1,16.4,8.2,32.2,13.5,48.5,16.6-.6,32.6.8,48.8-.9C638.2,835.5,634.9,822,631.5,808.5Zm-42.9-99.2c-1,10.5-4.8,19.5-15.3,23.9-11.6,4.8-23.5,3.5-36.2,2.8V683.4c13.7-2.4,25.8-3,37.6,2.8C584.3,691,589.7,698.3,588.6,709.3Z" transform="translate(0 -4.8)"/>
        <path d="M1385,649.3h-61.3c-20.5,67-40.8,133.5-61.2,200.2h48.6c5.8-17,8.4-34,14.9-50.1h54.6c7.8,16.1,9.7,34.3,17.3,50.4h49.6C1426.2,781.7,1405.5,715.2,1385,649.3ZM1332.5,763c6.6-24.5,13-48.4,20.3-75.1,7.3,26.6,13.9,50.5,20.7,75.1Z" transform="translate(0 -4.8)"/>
        <path d="M365.8,646.5c-53.9,0-97.6,46.7-97.6,104.3s43.7,104.3,97.6,104.3,97.6-46.7,97.6-104.3S419.7,646.5,365.8,646.5Zm0,169.1c-27.3,0-49.3-28-49.3-62.4s22.1-62.4,49.3-62.4,49.3,28,49.3,62.4S393,815.6,365.8,815.6Z" transform="translate(0 -4.8)"/>
    </svg>
</div>
