<app-header></app-header>
<app-banner></app-banner>
<app-benefits></app-benefits>
<app-commission></app-commission>
<app-description></app-description>
<app-faq></app-faq>
<app-payment-system></app-payment-system>
<app-footer></app-footer>
