@import 'src/assets/scss/mixin.scss';

.payment {
    padding: 20px 0;
    background-color: #1f2124;

    &__content {
        @include container;
        display: flex;
        justify-content: space-around;
        color: #fff;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;

        svg,
        path {
            fill: #fff;
        }
    }
}
