<section class="payment">

  <div class="payment__content">

      <div class="payment__item" *ngFor="let el of paymentList" [inlineSVG] = "'/assets/images/svg/payment-system/' + el + '.svg'">
      </div>
  </div>

</section>
