@import 'mixin.scss';
@import 'variables';
@import 'functions';

.banner {
    background: {
        image: map-get($banner, 'bgImg');
        size: cover;
        repeat: no-repeat;
    }

    &-content {
        @include container;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        min-height: 510px;

        @include max480 {
            min-height: 350px;
        }
    }

    &__title {
        width: map-get($banner, 'textWidth');
        color: map-get($banner, 'color');
        font-size: map-get($banner, 'fontSize');
        line-height: map-get($banner, 'lineHeight');
        font-weight:  map-get($banner, 'fontWeight');

        @include max900 {
            font-size: map-get($banner, 'fontSize') * 0.8;
            line-height: 1;
        }

        @include max720 {
            width: 100%;
        }

        @include max480 {
            font-size: map-get($banner, 'fontSize') * 0.6;
        }

        span {
            display: block;
            color: map-get($banner, 'colorSiteName');
            font-size: map-get($banner, 'sizeSiteName');

            @include max720 {
                font-size: map-get($banner, 'sizeSiteName') * 0.9;
            }

            @include max480 {
                font-size: map-get($banner, 'fontSize') * 0.7;
            }
        }
    }

    &__desc {
        margin-top: 20px;
        color: map-get($banner, 'colorDesc');
        font-size: map-get($banner, 'fontSizeDesc');
        font-weight: bold;
    }

    &__btn {
        margin-top: 20px;
        padding: 20px 40px;
        font: {
            weight: bold;
            size: 23px;
        }

        @include max720 {
            margin-top: 10px;
            padding: 10px 20px;
            font-size: 18px;
        }
    }
}
