<section class="banner" appLazyLoad direction='right' delay="100">

    <div class="banner-content">
        <h1 class="banner__title">{{'The official' | translate }} <span>{{siteName}}</span>
            {{'affiliate program' | translate }} </h1>
        <p class="banner__desc">{{ 'Join us and make real money from your website' | translate }}</p>
        <a mat-raised-button color="primary" href={{registerUrlBtn}} class="btn banner__btn">{{'Become a partner' | translate }}</a>
    </div>

</section>
