<div class="enter">
    <a mat-raised-button color="primary" class="btn enter__btn enter__btn--login" href="{{loginUrnBtn}}">{{'Login' | translate }}</a>
    <a mat-raised-button color="primary" class="btn enter__btn enter__btn--register" href="{{registerUrlBtn}}">{{'Register' | translate }}</a>
</div>