@import 'src/assets/scss/mixin.scss';

.desc {
  padding: 40px 0;

  &-container {
    @include container;
  }

  &-block {

    &__title {
      margin-top: 30px;
      color: #212121;
      font-size: 40px;
      font-weight: 600;
      text-transform: uppercase;
      text-align: center;
    }

    &__text {
      margin-top: 15px;
      color: #212121;
      font-size: 20px;
      font-weight: 500;
      text-align: justify;
    }
  }
}
