<section class="desc" id="about" appLazyLoad direction='left'>
  <div class="desc-container">

    <div class="desc-block">
      <p class="desc-block__text">{{"More than 80% of the brands on the Internet leverage the power of affiliate marketing. The point we're trying to make here" | translate }} 24kCasino {{"knows the importance of affiliates, we'll even go as far as saying and you may quote us:
        'With us you're number one, always!'. You might we wondering what's the score? If you join know we'll offer
        you a revenue share of 25% to 40% commission for a lifetime! A percentage of that fee is based on what your
        players lose, banking costs and of course a fix fee (%) contributes towards the license fees. As you can see
        we're not slamming our affiliates with any hidden costs and no negative carryover; strictly speaking you start
        each and every month in the black!" | translate }}</p>
    </div>
    <div class="desc-block">
      <h2 class="desc-block__title">{{'MARKETING TOOLS' | translate }}</h2>
      <p class="desc-block__text">{{"Furthermore, our affiliate program has all the marketing bells and whistles you'll
        ever need, plus we give you
        a detailed breakdown of the players you referred during the course of the month. In other words everything is
        transparent! At the heart of it all if you win we win we're here to help you grow. Our affiliate deals are
        structured in such a way that it includes CPA, hybrid or revenue share for life." | translate }}</p>
    </div>
    <div class="desc-block">
      <h2 class="desc-block__title">{{'WHY JOIN' | translate }} ?</h2>
      <p class="desc-block__text">{{'By teaming up with us' | translate }}, 24kCasino {{'gives you value for every hard earned buck. You can
        earn up to 40% revenue
        share or we can give you a CPA deal - whatever is convenient for you.' | translate }}</p>
    </div>

  </div>
</section>
