@import 'mixin.scss';
@import 'variables';
@import 'functions';

:host(.app-language-selector) {

    .header & {
        z-index: 10;
        margin: 0 15px 0 auto;

        @include max360 {
            margin: 0 5px;
        }
    }
}

.language-selector {
    max-width: 120px;

    @include max640 {
        max-width: 80px;
    }

    @include max360 {
        max-width: 60px;
    }
}
