<mat-form-field class="language-selector">
    <mat-select placeholder="{{ 'Language' | translate }}"
                [(ngModel)]="selectedLang"
                (selectionChange)="changeLang(selectedLang)"
                name="languageList">
        <mat-option *ngFor="let lang of languageList | keyvalue" [value]="lang.value.Code || lang.value">
            {{lang.value.Code || lang.value}}
        </mat-option>
    </mat-select>
</mat-form-field>
