<header class="header">
    
  <div class="header__content">
        <app-logo></app-logo>

        <app-nav></app-nav>

        <app-language-selector></app-language-selector>

        <app-login-button></app-login-button>
  </div>

</header>