@import 'mixin.scss';
@import 'variables';
@import 'functions';

.header {
    padding: map-get($header, 'padding');
    background-color: map-get($header, 'background');

    @include max640 {
        padding: 10px 5px;
    }

    &__content {
        @include container;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include max480 {
            padding: 0;
        } 
    }

    .nav {
        padding: 0 30px;

        @include max640 {
            padding: 0 15px;
        }
    }

    .logo {
        @include max1420 {
            width: 150px;
        }

        @include max640 {
            width: 100px;
        }
    }

    .enter {
        @include max480 {
            display: flex;
            flex-direction: column;
            align-items: stretch;
        }

        &__btn {

            &:first-child {
                margin-bottom: 5px;
            }
        }
    }
}

